*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------MENU DE NAVEGACION----------------*/

header{
    padding-top: 0;
    position: sticky;
    top: 0;
    z-index: 3;
    max-width: 1800px;
    padding-bottom: 35px;
}

.logonavbar{
    width: 60px;
    border-radius: 40px;
}

.nav-item{
    display: flex;
    padding-bottom: 10px;
    list-style-type: none;
    gap: 60px;
    font-size: 20px;
    justify-content: space-between;
}

.navbar{
    height: 70px;
}

.nav-link{
    color: white;
    text-decoration: none;
    padding: 5px;
}

.nav-link:hover{
    border-radius: 10px;
    background-color: #0e0e0e;
    filter: invert(1);
}

/*-------------BODY--------------*/

body{
    background-image: url(../img/michael-jacson-thriller-40-anoswebp.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 20rem;
    position: relative;
    flex-wrap: wrap;
}

.main{
    justify-content: center;
    align-items: center;
    min-width: 1400px;
}

/*-----------PAGINA DE INICIO-------------*/

.parrafo-inicio {
    color: black;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(169, 164, 164);
    border-radius: 10px;
    opacity: 85%;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.video-inicio {
    display: flex;
    padding: 30px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.foto-inicio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.foto-inicio__thriller {
    display: flex;
    padding: 30px;
    margin-top: 10px;
    width: 1000px;
    height: 650px;
    margin-bottom: 20px;
}

.foto-inicio__collage1 {
    display: flex;
    padding: 30px;
    width: 1000px;
    height: 651px;
    margin-bottom: 20px;
}

.foto-inicio__collage2 {
    display: flex;
    padding: 30px;
    margin-top: 10px;
    width: 1000px;
    height: 611px;
    margin-bottom: 160px;
}

/*---------------PAGINA DE MICHAEL JACKSON---------------*/

.michael-jackson-titulo {
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    background-color: rgb(169, 164, 164);
    margin-left: 390px;
    margin-right: 390px;
    opacity: 75%;
    border-radius: 10px;
}

.parrafos-y-fotos-contenedor{
    display: flex;
}


.michael-jackson-foto {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
/*-----------------NIÑEZ-------------------*/

.michael-jackson-foto__niño{
    display: flex;
    padding: 10px;
    width: 377px;
    height: 358px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 40px;
    background-color: rgb(169, 164, 164);
}

.michael-jackson-parrafo__niñez {
    padding: 4px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 15px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


/*--------------ADOLESCENCIA----------------*/

.michael-jackson-foto__adolescente {
    display: flex;
    width: 375px;
    height: 280px;
    margin-left: 5px;
    margin-right: 40px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(169, 164, 164);
}

.michael-jackson-parrafo__adolescente {
    padding: 5px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 15px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

/*--------------CANTANDO----------------*/

.michael-jackson-foto__cantando {
    display: flex;
    width: 375px;
    height: 265px;
    margin-left: 5px;
    margin-top: 30px;
    margin-right: 40px;
    padding: 10px;
    background-color: rgb(169, 164, 164);
}

.michael-jackson-parrafo__cantando {
    padding: 12px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*--------------ZOMBIE----------------*/

.michael-jackson-foto__zombie {
    display: flex;
    width: 375px;
    height: 239px;
    margin-left: 5px;
    margin-right: 40px;
    margin-top: 30px;
    padding: 12px;
    background-color: rgb(169, 164, 164);
}

.michael-jackson-parrafo__thriller {
    padding: 6px;
    font-size: 22px;
    margin-top: 45px;
    margin-left: 15px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*--------------MICHAEL CON CHAQUETA MILITAR----------------*/

.michael-jackson-foto__chaquetamilitar {
    display: flex;
    width: 338px;
    height: 528px;
    margin-left: 5px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(169, 164, 164);
}

.michael-jackson-parrafo__superbowl {
    padding: 15px;
    font-size: 22px;
    margin-top: 44px;
    margin-left: 15px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*--------------THIS IS IT----------------*/

.michael-jackson-foto__thisisit {
    display: flex;
    width: 360px;
    height: 214px;
    margin-left: 5px;
    margin-top: 29px;
    padding: 10px;
    background-color: rgb(169, 164, 164);
}

.michael-jackson-parrafo__thisisit {
    padding: 12px;
    font-size: 21px;
    margin-top: 33px;
    margin-left: 15px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
     border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 160px;
}

/*---------------PAGINA DE ALBUMES----------------*/

.albumes-titulo {
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    background-color: rgb(169, 164, 164);
    margin-left: 620px;
    margin-right: 620px;
    opacity: 75%;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.carousel-item__fotos{
    width: 1000px;
    height: 500px;
    max-width: 100%;
}

/* -------------MEJORES ALBUMES------------- */

.mejores-albumes-titulo{
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    background-color: rgb(169, 164, 164);
    margin-left: 560px;
    margin-right: 560px;
    opacity: 75%;
    border-radius: 10px;

}
.mejores-albumes-portada {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.mejores-albumes-parrafo {
    display: flex;
}

/* -------------THRILLER------------- */

.mejores-albumes-portada__thriller{
    display: flex;
    width: 300px;
    height: 290px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 50px;
    padding: 10px;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
}

.mejores-albumes-parrafo__thriller{
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



/* -------------BAD------------- */

.mejores-albumes-portada__bad {
    display: flex;
    width: 300px;
    height: 301px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 50px;
    padding: 10px;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
}

.mejores-albumes-parrafo__bad {
    padding: 3px;
    font-size: 17.9px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* -------------DANGEROUS------------- */

.mejores-albumes-portada__dangerous {
    display: flex;
    width: 300px;
    height: 305px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 50px;
    padding: 14px;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
}

.mejores-albumes-parrafo__dangerous {
    padding: 10px;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* -------------HISTORY------------- */

.mejores-albumes-portada__history {
    display: flex;
    width: 300px;
    height: 280px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 50px;
    padding: 10px;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
}

.mejores-albumes-parrafo__history {
    padding: 12px;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* -------------INVINCIBLE------------- */

.mejores-albumes-portada__invincible {
    display: flex;
    width: 300px;
    height: 285px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 50px;
    padding: 10px;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
}

.mejores-albumes-parrafo__invincible {
    padding: 14px;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 160px;
}

/*--------------Pagina de Historia----------------*/

.historia-titulo {
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    background-color: rgb(169, 164, 164);
    margin-left: 450px;
    margin-right: 450px;
    opacity: 75%;
    border-radius: 10px;
}

.historia-canciones {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.historia-canciones_foto {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.historia-canciones-parrafo{
    display: flex;
    flex-direction: column;
}

/*--------------BILLIE JEAN----------------*/

.historia-canciones-parrafo__billiejean{
    padding: 14px;
    font-size: 22px;
    margin-top: 30px;
    margin-right: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.historia-canciones_foto__billiejean{
    display: flex;
    padding: 10px;
    width: 430px;
    height: 259px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 0px;
    background-color: rgb(169, 164, 164);
}

/*--------------BAD----------------*/

.historia-canciones-parrafo__bad{
    padding: 5px;
    font-size: 20px;
    margin-top: 14px;
    margin-right: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.historia-canciones_foto__bad{
    display: flex;
    padding: 10px;
    width: 430px;
    height: 280px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgb(169, 164, 164);
}

/*--------------SMOOTH CRIMINAL----------------*/

.historia-canciones-parrafo__smoothcriminal{
    padding: 5px;
    font-size: 22px;
    margin-top: 14px;
    margin-right: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.historia-canciones_foto__smoothcriminal{
    display: flex;
    padding: 12px;
    width: 430px;
    height: 307px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgb(169, 164, 164);
}

/*--------------BEAT IT----------------*/

.historia-canciones-parrafo__beatit{
    padding: 2px;
    font-size: 19px;
    margin-top: 14px;
    margin-right: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.historia-canciones_foto__beatit{
    display: flex;
    padding: 10px;
    width: 430px;
    height: 289px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgb(169, 164, 164);
}

/*--------------THEY DONT CARE ABOUT US----------------*/

.historia-canciones-parrafo__theydontcareaboutus{
    padding: 5px;
    font-size: 20px;
    margin-top: 14px;
    margin-right: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.historia-canciones_foto__theydontcareaboutus{
    display: flex;
    padding: 10px;
    width: 430px;
    height: 310px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgb(169, 164, 164);
}

/*--------------THRILLER----------------*/

.historia-canciones-parrafo__thriller{
    padding: 15px;
    font-size: 20px;
    margin-top: 14px;
    margin-right: 50px;
    text-align: left;
    background-color: rgb(169, 164, 164);
    opacity: 85%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 160px;
}

.historia-canciones_foto__thriller{
    display: flex;
    padding: 10px;
    width: 430px;
    height: 279px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgb(169, 164, 164);
}

.historia-canciones_foto__hombrelobo{
    display: flex;
    padding: 10px;
    width: 430px;
    height: 291px;
    margin-left: 50px;
    background-color: rgb(169, 164, 164);
}

/*-----------------Pagina de Contacto----------------*/

.contacto-menu{
    margin-top: 100px;
}

.contacto-titulo {
text-align: center;
background-color: rgb(169, 164, 164);
opacity: 90%;
border-radius: 10px;
margin-left: 160px;
margin-right: 160px; 
padding: 5px;
}

.contacto-titulo {
color: black;
font-size: 40px
}

.form{
margin-top: 60px;
margin-bottom: 160px;
align-items: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: 
"datos-contenedor  album-favorito-contenedor"
"cancion-favorita-contenedor  dejanos-tu-opinion-contenedor"
}

.datos-contenedor{
padding: 10px;
padding-top: 10px;
padding-bottom: 77px;
font-size: 20px;
text-align: left;
color: #0e0e0e;
background-color: rgb(169, 164, 164);
border-top-left-radius: 10px;
opacity: 90%;
}

.datos-usuario{
margin-top: 10px
}

.completa-datos{
    font-size: 30px;
}

.datos-usuario__nombre{
padding: 10px;
font-size: 15px;
margin-top: 10px;
margin-left: 15px;
}

.datos-usuario__apellido {
padding: 10px;
font-size: 15px;
margin-top: 10px;
margin-left: 15px;
}

.datos-usuario__edad{
padding: 10px;
font-size: 15px;
margin-top: 10px;
margin-left: 15px;
}

.datos-usuario__email{
padding: 10px;
font-size: 15px;
margin-top: 10px;
margin-left: 15px;
}

.album-favorito-contenedor{
padding-top: 15px;
padding-bottom: 129px;
font-size: 20px;
text-align: left;
color: #0e0e0e;
background-color: rgb(169, 164, 164);
border-top-right-radius: 10px;
opacity: 90%;
}

.album-favorito-titulo{
font-size: 29px;
}

.album-favorito {
margin-top: 10px;
background-color: rgb(169, 164, 164);
opacity: 85%;
font-size: 25px;
opacity: 90%;
}

.album-favorito-opcion__nombre {
padding: 10px;
font-size: 10px;
margin-top: 20px;
margin-left: 15px;
opacity: 90%;
}

.cancion-favorita-contenedor{
padding-top: 10px;
padding-bottom: 49px;
font-size: 20px;
text-align: left;
color: #0e0e0e;
background-color: rgb(169, 164, 164);
border-bottom-left-radius: 10px;
opacity: 90%;
}

.cancion-favorita-titulo{
padding: 10px;
font-size: 25px;
margin-top: 0px;
margin-bottom: 0;
text-align: left;
color: #0e0e0e;
}

.cancion-favorita-opcion{
opacity: 85%;
font-size: 25px;
}

.cancion-favorita-opcion__nombre{
padding: 10px;
font-size: 10px;
margin-top: 20px;
margin-left: 15px;
}

.dejanos-tu-opinion-contenedor{
   background-color: rgb(169, 164, 164);
   border-bottom-right-radius: 10px;
   opacity: 90%;
   padding-bottom: 11px;
}

.dejanos-tu-opinion-titulo {
padding: 10px;
font-size: 26px;
margin-top: 0px;
margin-bottom: 0;
text-align: left;
color: #0e0e0e;

}

.cuadrado-para-opinion{
padding-top: 10px;
padding: 5px;
font-size: 10px;
margin-top: 0px;
margin-bottom: 0;
}

.cuadrado-para-opinion__escribir{
font-size: 17px;
}


.form .datos-contenedor{
grid-area: datos-contenedor;
grid-column: 2;
}

.form .album-favorito-contenedor{
    grid-area: album-favorito-contenedor;
    grid-column: 3;
}

.form .cancion-favorita-contenedor{
    grid-area: cancion-favorita-contenedor;
    grid-column: 2;
}

.form .dejanos-tu-opinion-contenedor{
    grid-area: dejanos-tu-opinion-contenedor;
    grid-column: 3;
}

.enviar-o-resetear{
    grid-area: enviar-o-resetear;
    grid-column: 3;
    margin-left: 15px;
}

/*--------------PIE DE PAGINA---------------*/

footer{
    width: 100%;
    min-width: 1400px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo{
    height: 80px;
    margin-bottom: 1rem;
    border-radius: 40px;
}

.redes-sociales, .footer-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom: 1rem;
}

.redes-sociales__iconos{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;background-image: url(../img/HD-wallpaper-facebook-black-logo.jpg);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.redes-sociales__iconos:hover{
    background-color: #121212;
    filter: invert(1);
}

.redes-sociales__iconos:nth-of-type(2){
    background-image: url(../img/627b94685a3e2ac874a7573c.png);
}

.redes-sociales__iconos:nth-of-type(3){
    background-image: url(../img/5b73459960abeab3bd7be40fdc2fd6c3.jpg);}

.redes-sociales__iconos:nth-of-type(4){
    background-image: url(../img/desktop-wallpaper-instagram-logo-instagram-black-and-white.jpg);
}

.footer-menu{
    list-style: none;
    color: #f2f2f2;
    font-size: 18px;
}

.footer-menu__item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.footer-menu__item:hover{
    opacity: 1;
}

.footer-menu__copyright{
    color:#f2f2f2;
    opacity: 0.3;
    text-align: center;
}

/*---------------  MEDIA QUERIES PAGINA INICIO  ----------------*/

@media screen and (max-width: 576px){
    
    .navbar{
        height: 135px;
    }

    .navbar-brand{
        font-size: 55px;
    }

    .parrafo-inicio{
        flex-direction: column;
        margin-top: 250px;
        margin-left: 230px;
        margin-right: 230px;
        font-size: 50px;
}

}

@media screen and (min-width: 576px){
    
    .navbar{
        height: 130px;
    }

    .navbar-brand{
        font-size: 50px;
    }

    .parrafo-inicio{
        flex-direction: column;
        margin-top: 250px;
        margin-left: 230px;
        margin-right: 230px;
        font-size: 40px;
}

}

@media screen and (min-width: 768px){
    .navbar{
        height: 120px;
    }

    .navbar-brand{
        font-size: 35px;
    }

    .parrafo-inicio{
        margin-top: 200px;
        margin-left: 220px;
        margin-right: 220px;
        font-size: 40px;
}

}

@media screen and (min-width: 992px){
    .navbar{
        height: 100px;
    }

    .navbar-brand{
        font-size: 35px;
    }

    .parrafo-inicio{
        margin-top: 200px;
        margin-left: 220px;
        margin-right: 220px;
        font-size: 35px;
}

}

@media screen and (min-width: 1200px){
    .navbar{
        height: 65px;
    }

    .navbar-brand{
        font-size: 20px;
    }

    .parrafo-inicio{
        margin-top: 200px;
        margin-left: 230px;
        margin-right: 230px;
        font-size: 30px;
}

}

@media screen and (min-width: 1400px){
    .navbar{
        height: 65px;
    }

    .navbar-brand{
        font-size: 20px;
    }

    .parrafo-inicio{
        margin-top: 200px;
        margin-left: 320px;
        margin-right: 320px;
        font-size: 30px;
}

}

@media screen and (min-width: 1600px){
    .navbar{
        height: 65px;
    }

    .navbar-brand{
        font-size: 20px;
    }

    .parrafo-inicio{
        margin-top: 200px;
        margin-left: 350px;
        margin-right: 350px;
        font-size: 30px;
}

}

/*---------------  MEDIA QUERIES PAGINA CONTACTO  ----------------*/

@media screen and (max-width: 576px) {
    
    .navbar{
        height: 135px;
    }

    .navbar-brand{
        font-size: 55px;
    }

    .contacto-menu{
        margin-top: 200px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .completa-formulario{
        color: black;
        font-size: 70px;

    }
    
    .form{
        display: flex;
        flex-direction: column;
    }

    .datos-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-top-right-radius: 10px;

    }

    .completa-datos{
        font-size: 60px;
    }
    
    .datos-usuario{
        margin-top: 20px;
    }

    .datos-usuario__nombre{
        font-size: 40px;
    }

    .datos-usuario__apellido{
        font-size: 40px;
    }


    .datos-usuario__edad{
        font-size: 40px;
    }


    .datos-usuario__email{
        font-size: 40px;
    }

    .album-favorito-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-top-right-radius: 0;
        }
    .album-favorito-titulo{
        font-size: 60px;
    }

    .album-favorito{
        font-size: 50px;
    }

    .cancion-favorita-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-bottom-left-radius: 0;
    }

    .cancion-favorita-titulo{
        font-size: 60px;
    }

    .cancion-favorita-opcion{
        font-size: 50px;
    }

    .dejanos-tu-opinion-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-bottom-left-radius: 10px;
    }

    .dejanos-tu-opinion-titulo{
        font-size: 60px;
    }

    .cuadrado-para-opinion__escribir{
        font-size: 50px;
    }

    .enviar-o-resetear{
        font-size: 40px;
    }

}

@media screen and (min-width: 576px){

    .navbar{
        height: 130px;
    }

    .navbar-brand{
        font-size: 50px;
    }

    .contacto-menu{
        margin-top: 200px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .completa-formulario{
        color: black;
        font-size: 70px;

    }
    
    .form{
        display: flex;
        flex-direction: column;
    }

    .datos-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-top-right-radius: 10px;
    }

    .completa-datos{
        font-size: 60px;
    }
    
    .datos-usuario{
        margin-top: 20px;
    }

    .datos-usuario__nombre{
        font-size: 40px;
    }

    .datos-usuario__apellido{
        font-size: 40px;
    }


    .datos-usuario__edad{
        font-size: 40px;
    }


    .datos-usuario__email{
        font-size: 40px;
    }

    .album-favorito-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-top-right-radius: 0px;
    }

    .album-favorito-titulo{
        font-size: 60px;
    }

    .album-favorito{
        font-size: 50px;
    }

    .cancion-favorita-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-bottom-left-radius: 0;
    }

    .cancion-favorita-titulo{
        font-size: 60px;
    }

    .cancion-favorita-opcion{
        font-size: 50px;
    }

    .dejanos-tu-opinion-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-bottom-left-radius: 10px;
    }

    .dejanos-tu-opinion-titulo{
        font-size: 60px;
    }

    .cuadrado-para-opinion__escribir{
        font-size: 50px;
    }

    .enviar-o-resetear{
        font-size: 40px;
    }
}

@media screen and (min-width: 768px){
    .navbar{
        height: 120px;
    }

    .navbar-brand{
        font-size: 35px;
    }

    .contacto-menu{
        margin-top: 200px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .completa-formulario{
        color: black;
        font-size: 60px;

    }
    
    .form{
        display: flex;
        flex-direction: column;
    }

    .datos-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-top-right-radius: 10px;
    }

    .completa-datos{
        font-size: 50px;
    }
    
    .datos-usuario{
        margin-top: 20px;
    }

    .datos-usuario__nombre{
        font-size: 30px;
    }

    .datos-usuario__apellido{
        font-size: 30px;
    }


    .datos-usuario__edad{
        font-size: 30px;
    }


    .datos-usuario__email{
        font-size: 30px;
    }

    .album-favorito-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-top-right-radius: 0px;
    }

    .album-favorito-titulo{
        font-size: 50px;
    }

    .album-favorito{
        font-size: 40px;
    }

    .cancion-favorita-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-bottom-left-radius: 0;
    }

    .cancion-favorita-titulo{
        font-size: 50px;
    }

    .cancion-favorita-opcion{
        font-size: 40px;
    }

    .dejanos-tu-opinion-contenedor{
        width: 1070px;
        padding-bottom: 20px;
        border-bottom-left-radius: 10px;
    }

    .dejanos-tu-opinion-titulo{
        font-size: 50px;
    }

    .cuadrado-para-opinion__escribir{
        font-size: 40px;
    }

    .enviar-o-resetear{
        font-size: 30px;
    }
}

@media screen and (min-width: 992px){
    .navbar{
        height: 100px;
    }

    .navbar-brand{
        font-size: 35px;
    }

    .contacto-menu{
        margin-top: 200px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .completa-formulario{
        color: black;
        font-size: 60px;

    }
    
    .form{
        display: flex;
        flex-direction: column;
    }

    .datos-contenedor{
        width: 1070px;
        padding-bottom: 20px;
    }

    .completa-datos{
        font-size: 50px;
    }
    
    .datos-usuario{
        margin-top: 20px;
    }

    .datos-usuario__nombre{
        font-size: 30px;
    }

    .datos-usuario__apellido{
        font-size: 30px;
    }

    .datos-usuario__edad{
        font-size: 30px;
    }

    .datos-usuario__email{
        font-size: 30px;
    }

    .album-favorito-contenedor{
        width: 1070px;
        padding-bottom: 20px;
    }

    .album-favorito-titulo{
        font-size: 50px;
    }

    .album-favorito{
        font-size: 40px;
    }

    .cancion-favorita-contenedor{
        width: 1070px;
        padding-bottom: 20px;
    }

    .cancion-favorita-titulo{
        font-size: 50px;
    }

    .cancion-favorita-opcion{
        font-size: 40px;
    }

    .dejanos-tu-opinion-contenedor{
        width: 1070px;
        padding-bottom: 20px;
    }

    .dejanos-tu-opinion-titulo{
        font-size: 50px;
    }
    
    .cuadrado-para-opinion__escribir{
        font-size: 40px;
    }

    .enviar-o-resetear{
        font-size: 30px;
    }

}

@media screen and (min-width: 1200px){
    .navbar{
        height: 70px;
    }

    .navbar-brand{
        font-size: 25px;
    }

    .contacto-menu{
        margin-top: 200px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .completa-formulario{
        color: black;
        font-size: 45px;
    }

    .form{
        display: grid;
    }

    .datos-contenedor{
        width: 500px;
        padding-bottom: 21px;
        border-top-right-radius: 0;
    }

    .completa-datos{
        font-size: 35px;
    }
    
    .datos-usuario{
        margin-top: 24px;
    }

    .datos-usuario__nombre{
        font-size: 25px;
    }

    .datos-usuario__apellido{
        font-size: 25px;
    }


    .datos-usuario__edad{
        font-size: 25px;
    }


    .datos-usuario__email{
        font-size: 25px;
    }

    .album-favorito-contenedor{
        width: 500px;
        padding-bottom: 20px;
        border-top-right-radius: 10px;
    }

    .album-favorito-titulo{
        font-size: 35px;
    }

    .album-favorito{
        font-size: 30px;
        margin-top: 30px;
    }

    .cancion-favorita-contenedor{
        width: 500px;
        padding-bottom: 20px;
        border-bottom-left-radius: 10px;
    }

    .cancion-favorita-titulo{
        font-size: 35px;
    }

    .cancion-favorita-opcion{
        font-size: 30px;
        margin-top: 14px;
    }

    .dejanos-tu-opinion-contenedor{
        width: 500px;
        padding-bottom: 20px;
        border-bottom-left-radius: 0;
    }

    .dejanos-tu-opinion-titulo{
        font-size: 35px;
    }

    .cuadrado-para-opinion__escribir{
        font-size: 20px;
        margin-top: 15px;
    }

    .enviar-o-resetear{
        font-size: 20px;
    }

}


/*---------------  MEDIA QUERIES PAGINA   ----------------*/


@media screen and (max-width: 576px){
    .navbar{
        height: 135px;
    }

    .navbar-brand{
        font-size: 55px;
    }

    .michael-jackson-titulo{
        margin-top: 200px;
        font-size: 80px;
        margin-bottom: 50px;
    }

    .michael-jackson-foto{
        display: grid;
    }

    .michael-jackson-parrafo{
        display: grid;
    }

    .main-pagina-michael-jackson{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "michael-jackson-foto__niño"
        "michael-jackson-parrafo__niñez"
        "michael-jackson-foto__adolescente"
        "michael-jackson-parrafo__adolescente"
        "michael-jackson-foto__cantando"
        "michael-jackson-parrafo__cantando"
        "michael-jackson-foto__zombie"
        "michael-jackson-parrafo__thriller"
        "michael-jackson-foto__chaquetamilitar"
        "michael-jackson-parrafo__superbowl"
        "michael-jackson-foto__thisisit"
        "michael-jackson-parrafo__thisisit";
    }

    .parrafos-y-fotos-contenedor{
        display: grid;

    }


    .michael-jackson-foto .michael-jackson-foto__niño{
        display: grid;
        grid-area: michael-jackson-foto__niño;
        grid-column: 2;
        grid-row: 1;
        }

    .michael-jackson-parrafo .michael-jackson-parrafo__niñez{
        display: grid;
        grid-area: michael-jackson-parrafo__niñez;
        grid-column: 2;
        grid-row: 2;
        }
    
    .michael-jackson-foto .michael-jackson-foto__adolescente{
        display: grid;
        grid-area: michael-jackson-foto__adolescente;
        grid-column: 2;
        grid-row: 3;
        }

    .michael-jackson-parrafo .michael-jackson-parrafo__adolescente{
        display: grid;
        grid-area: michael-jackson-parrafo__adolescente;
        grid-column: 2;
        grid-row: 4;
        }

    .michael-jackson-foto .michael-jackson-foto__cantando{
        display: grid;
        grid-area: michael-jackson-foto__cantando;
        grid-column: 2;
        grid-row: 5;
        }

    .michael-jackson-parrafo .michael-jackson-parrafo__cantando{
        display: grid;
        grid-area: michael-jackson-parrafo__cantando;
        grid-column: 2;
        grid-row: 6;
        }

    .michael-jackson-foto .michael-jackson-foto__zombie{
        display: grid;
        grid-area: michael-jackson-foto__zombie;
        grid-column: 2;
        grid-row: 7;
        }

    .michael-jackson-parrafo .michael-jackson-parrafo__thriller{
        display: grid;
        grid-area: michael-jackson-parrafo__thriller;
        grid-column: 2;
        grid-row: 8;
        }

    .michael-jackson-foto .michael-jackson-foto__chaquetamilitar{
        display: grid;
        grid-area: michael-jackson-foto__chaquetamilitar;
        grid-column: 2;
        grid-row: 9;
        }

    .michael-jackson-parrafo .michael-jackson-parrafo__superbowl{
        display: grid;
        grid-area: michael-jackson-parrafo__superbowl;
        grid-column: 2;
        grid-row: 10;
        }

    .michael-jackson-foto .michael-jackson-foto__thisisit{
        display: grid;
        grid-area: michael-jackson-foto__thisisit;
        grid-column: 2;
        grid-row: 11;
        }

    .michael-jackson-parrafo .michael-jackson-parrafo__thisisit{
        display: grid;
        grid-area: michael-jackson-parrafo__thisisit;
        grid-column: 2;
        grid-row: 12;
        }

}

@media screen and (min-width: 576px){

    .navbar{
        height: 130px;
    }

    .navbar-brand{
        font-size: 50px;
    }
}

@media screen and (min-width: 768px){
    .navbar{
        height: 120px;
    }

    .navbar-brand{
        font-size: 35px;
    }
}

@media screen and (min-width: 992px){
    .navbar{
        height: 100px;
    }

    .navbar-brand{
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px){
    .navbar{
        height: 65px;
    }

    .navbar-brand{
        font-size: 20px;
    }
}