body{
    background-image: url(../img/michael-jacson-thriller-40-anoswebp.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    @include desktop{
        background-image: url(../../img/desktop-wallpaper-michael-jackson-art-michael-jackson-iphone.jpg);
    }
}