.main-albumes{
    width: 99%;
    display:flex;

    .albumes-contenedor{
        
        .albumes-titulo-contenedor{
            padding: 10px;
            max-width: 100%;

           .albumes-titulo {
            color: black;
            text-align: center;
            font-size: 55px;
            font-family: $gillsans;
            margin-top: 100px;
            background-color: $migris;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            opacity: 75%;
            border-radius: 10px;
            padding: 10px;

               &:hover{
                  transform: scale(1.1) translateY(-10px);
                  transition: all 1.2s 0s;
                  border-radius: 10px;
                  background-color: black;
                  color: $oro;
                }
            }
        }


        .album-carousel-contenedor{
            padding: 20px;

            -webkit-animation:scale-in-hor-right .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-hor-right .5s cubic-bezier(.25,.46,.45,.94) both;

            .carousel-item{
                
                .carousel-item__fotos{
                   width: 1200px;
                   max-width: 100%;
                }
            }
        }

        .albumes-titulo-contenedor{
            padding: 10px;
            max-width: 100%;

            .mejores-albumes-titulo{
                color: black;
                text-align: center;
                font-size: 40px;
                font-family: $gillsans;
                margin-top: 100px;
                background-color: $migris;
                width: 400px;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
                opacity: 75%;
                border-radius: 10px;
                padding: 10px;

              &:hover{
                 transform: scale(1.1) translateY(-10px);
                 transition: all 1.2s 0s;
                 border-radius: 10px;
                 background-color: black;
                 color: $oro;
                }
            }
        }
        

        .album-thriller{
            display: flex;
            padding: 10px;
            margin-top: 20px;

            @include mobile{
                display: flex;
                flex-direction: column-reverse;
            }

            @include tablet{
                display: flex;
                flex-direction: column-reverse;
            }

            @include desktop{
                display: flex;
                flex-direction: column-reverse;
            }

            @include large-desktop{
                display: flex;
                align-items: flex-start;
            }

            .mejores-albumes-portada__thriller{
                display: flex;
                width: 430px;
                padding: 10px;
                background-color: $migris;
                opacity: 85%;

                &:hover{
                    transform: scale(1.05) translateY(-7px);
                    transition: all 1s 0s;
                }

                @include tablet{
                    width: 100%;
                }

                @include desktop{
                    width: 100%;
                }
            }
            
            .mejores-albumes-parrafo__thriller{
                padding: 15px;
                font-size: 23px;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

                @include mobile{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include tablet{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include desktop{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include large-desktop{
                    margin-top: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }
        
        .album-bad{
            display: flex;
            padding: 10px;
            margin-top: 20px;

            @include mobile{
                display: flex;
                flex-direction: column-reverse;
            }

            @include tablet{
                display: flex;
                flex-direction: column-reverse;
            }

            @include desktop{
                display: flex;
                flex-direction: column-reverse;
            }

            @include large-desktop{
                display: flex;
                align-items: flex-start;
            }

            .mejores-albumes-portada__bad {
                display: flex;
                width: 430px;
                padding: 10px;
                background-color: $migris;
                opacity: 85%;

                &:hover{
                    transform: scale(1.05) translateY(-7px);
                    transition: all 1s 0s;
                }

                @include tablet{
                    width: 100%;
                }

                @include desktop{
                    width: 100%;
                }
            }
            
            .mejores-albumes-parrafo__bad {
                padding: 5px;
                font-size: 20px;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

                @include mobile{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include tablet{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include desktop{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include large-desktop{
                    margin-top: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }
        
        .album-dangerous{
            display: flex;
            padding: 10px;
            margin-top: 20px;

            @include mobile{
                display: flex;
                flex-direction: column-reverse;
            }

            @include tablet{
                display: flex;
                flex-direction: column-reverse;
            }

            @include desktop{
                display: flex;
                flex-direction: column-reverse;
            }

            @include large-desktop{
                display: flex;
                align-items: flex-start;
            }

            .mejores-albumes-portada__dangerous {
                display: flex;
                width: 430px;
                padding: 10px;
                background-color: $migris;
                opacity: 85%;

                &:hover{
                    transform: scale(1.05) translateY(-7px);
                    transition: all 1s 0s;
                }

                @include tablet{
                    width: 100%;
                }

                @include desktop{
                    width: 100%;
                }
            }
            
            .mejores-albumes-parrafo__dangerous {
                padding: 15px;
                font-size: 22px;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

                @include mobile{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include tablet{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include desktop{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include large-desktop{
                    margin-top: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }
        
        .album-history{
            display: flex;
            padding: 10px;
            margin-top: 20px;

            @include mobile{
                display: flex;
                flex-direction: column-reverse;
            }

            @include tablet{
                display: flex;
                flex-direction: column-reverse;
            }

            @include desktop{
                display: flex;
                flex-direction: column-reverse;
            }

            @include large-desktop{
                display: flex;
                align-items: flex-start;
            }

            .mejores-albumes-portada__history {
                display: flex;
                width: 430px;
                padding: 10px;
                background-color: $migris;
                opacity: 85%;

                &:hover{
                    transform: scale(1.05) translateY(-8px);
                    transition: all 1s 0s;
                }

                @include tablet{
                    width: 100%;
                }

                @include desktop{
                    width: 100%;
                }
            }
            
            .mejores-albumes-parrafo__history {
                padding: 15px;
                font-size: 22px;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

                @include mobile{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include tablet{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include desktop{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include large-desktop{
                    margin-top: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }
        
        .album-invincible{
            display: flex;
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 400px;

            @include mobile{
                display: flex;
                flex-direction: column-reverse;
            }

            @include tablet{
                display: flex;
                flex-direction: column-reverse;
            }

            @include desktop{
                display: flex;
                flex-direction: column-reverse;
            }

            @include large-desktop{
                display: flex;
                align-items: flex-start;
            }

            .mejores-albumes-portada__invincible {
                display: flex;
                width: 430px;
                padding: 10px;
                background-color: $migris;
                opacity: 85%;

                &:hover{
                    transform: scale(1.05) translateY(-7px);
                    transition: all 1s 0s;
                }

                @include tablet{
                    width: 100%;
                }

                @include desktop{
                    width: 100%;
                }
            }
            
            .mejores-albumes-parrafo__invincible {
                padding: 15px;
                font-size: 22px;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;@include mobile{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include tablet{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include desktop{
                    font-size: 30px;
                    font-family: $gillsans;
                    border-radius: 10px;
                }

                @include large-desktop{
                    margin-top: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }
    }
}