main{

    .michael-jackson-titulo-contenedor{
        padding: 20px;

       .michael-jackson-titulo {
            color: black;
            text-align: center;
            font-size: 50px;
            margin-top: 100px;
            background-color: $migris;
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            padding: 10px;
            opacity: 75%;
            border-radius: 10px;
      
            &:hover{
                transform: scale(1.1) translateY(-10px);
                transition: all 1.2s 0s;
                border-radius: 10px;
                background-color: black;
                color: $oro;
            }

            @include mobile {
                font-size: 30px;
            }
        }
    }
    
    .parrafos-y-fotos-contenedor{
        padding: 20px;
        margin-bottom: 100px;

        .card-title{
            color: $oro;
        }

        .card-footer{
            background-color: $oro;

            .text-body-secondary{
                color: black;
            }
        }
    }
}