.main{
    justify-content: center;
    align-items: center;
    min-width: 1400px;

    .parrafo-inicio{
        color: black;
        text-align: center;
        font-size: 30px;
        font-family: $gillsans;
        margin-top: 100px;
        margin-left: 400px;
        margin-right: 400px;
        background-color: $migris;
        border-radius: 10px;
        opacity: 85%;
        background-size: cover;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &:hover{
            transform: scale(1.1) translateY(-10px);
            transition: all 1.1s 0s;
            border-radius: 10px;
            background-color: black;
            color: $oro;
        }
    }

    .video-inicio {
        display: flex;
        padding: 30px;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .foto-inicio {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .foto-inicio__thriller {
            display: flex;
            padding: 30px;
            margin-top: 10px;
            width: 1000px;
            height: 650px;
            margin-bottom: 20px;
        }
        
        .foto-inicio__collage1 {
            display: flex;
            padding: 30px;
            width: 1000px;
            height: 651px;
            margin-bottom: 20px;
        }
        
        .foto-inicio__collage2 {
            display: flex;
            padding: 30px;
            margin-top: 10px;
            width: 1000px;
            height: 611px;
            margin-bottom: 160px;
        }
    }
}