main{
    
    .michael-jackson-titulo {
        color: black;
        text-align: center;
        font-size: 50px;
        font-family: $gillsans;
        margin-top: 100px;
        background-color: $migris;
        margin-left: 390px;
        margin-right: 390px;
        opacity: 75%;
        border-radius: 10px;

        &:hover{
            transform: scale(1.1) translateY(-10px);
            transition: all 1.2s 0s;
            border-radius: 10px;
            background-color: black;
            color: $oro;
        }

        @include desktop{
            margin-top: 200px;
            font-size: 50px;
            margin-bottom: 50px;
            width: 700px;
            margin-left: 450px;     
        }

        @include tablet{
            margin-top: 200px;
            font-size: 70px;
            margin-bottom: 50px;
            width: 700px;
            margin-left: 460px;

        }
        @include mobile{
            margin-top: 200px;
            font-size: 80px;
            margin-bottom: 50px;
            width: 700px;
            margin-left: 450px;
            margin-right: 500px;
        }

        @include smallmobile{
            margin-top: 200px;
            font-size: 80px;
            margin-bottom: 50px;
            width: 700px;
            margin-left: 510px;
        }

        @include extrasmallmobile{
            margin-top: 300px;
            font-size: 80px;
            margin-bottom: 50px;
            width: 700px;
            margin-left: 490px;
        }
    }

    .parrafos-y-fotos-contenedor{
        width: 1650px;
        
        .michael-jackson-niñez{
            display: flex;

            @include desktopxl{
                width: 1500px;
            }
            @include desktop{
                width: 1600px;
            }
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                margin-right: 60px;
            }
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 50px;
            }
            @include extrasmallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 30px;
            }

            .michael-jackson-foto__niño{
                display: flex;
                padding: 10px;
                width: 377px;
                height: 358px;
                margin-top: 30px;
                margin-right: 5px;
                margin-left: 40px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }

                @include desktopxl{
                    height: 385px;
                }
                @include desktop{
                    width: 700px;
                    height: 578px;
                }
                @include tablet{
                    width: 900px;
                    height: 830px;
                }
                @include mobile{
                    width: 1000px;
                    height: 900px;
                }
                @include smallmobile{
                    width: 1000px;
                    height: 900px;
                }
                @include extrasmallmobile{
                    width: 1000px;
                    height: 900px;
                }
            }
            
            .michael-jackson-parrafo__niñez {
                padding: 8px;
                font-size: 19px;
                margin-top: 30px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                @include desktopxl{
                    font-size: 18px;
                }
                @include desktop{
                    width: 1000px;
                    font-size: 20px;
                }
                @include tablet{
                    font-size: 47px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include mobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include extrasmallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }

        .michael-jackson-adolescente{
            display: flex;

            @include desktopxl{
                width: 1500px;
            }
            @include desktop{
                width: 1500px;
            }
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 60px;
            }
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 60px;
                margin-right: 60px;
            }
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 100px;
            }
            @include extrasmallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 80px;
            }

            .michael-jackson-foto__adolescente {
                display: flex;
                width: 375px;
                height: 280px;
                margin-left: 40px;
                margin-right: 5px;
                margin-top: 30px;
                padding: 10px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }

                @include desktop{
                    width: 700px;
                    height: 490px;
                }

                @include tablet{
                    width: 900px;
                    height: 600px;
                }

                @include mobile{
                    width: 1000px;
                    height: 700px;
                }

                @include smallmobile{
                    width: 1000px;
                    height: 700px;
                }

                @include extrasmallmobile{
                    width: 1000px;
                    height: 700px;
                }
            }
            
            .michael-jackson-parrafo__adolescente {
                padding: 10px;
                font-size: 19px;
                margin-top: 30px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                @include desktopxl{
                    font-size: 18px;
                }
                @include desktop{
                    width: 1000px;
                    font-size: 20px;
                }
                @include tablet{
                    font-size: 47px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include mobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include extrasmallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }

        .michael-jackson-cantando{
            display: flex;

            @include desktopxl{
                width: 1500px;
            }
            @include desktop{
                width: 1500px;
            }
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 60px;
            }
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 60px;
                margin-right: 60px;
            }
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 100px;
            }
            @include extrasmallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 80px;
            }

            .michael-jackson-foto__cantando {
                display: flex;
                width: 375px;
                height: 265px;
                margin-left: 40px;
                margin-top: 30px;
                margin-right: 5px;
                padding: 10px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }

                @include desktop{
                    width: 600px;
                    height: 370px;
                }

                @include tablet{
                    width: 900px;
                    height: 650px;
                }

                @include mobile{
                    width: 1000px;
                    height: 700px;
                }

                @include smallmobile{
                    width: 1000px;
                    height: 700px;
                }

                @include extrasmallmobile{
                    width: 1000px;
                    height: 700px;
                }
            }
            
            .michael-jackson-parrafo__cantando {
                padding: 7px;
                font-size: 21px;
                margin-top: 30px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                @include desktop{
                    width: 1000px;
                    font-size: 21px;
                }
                @include tablet{
                    font-size: 47px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include mobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include extrasmallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }

        .michael-jackson-thriller{
            display: flex;

            @include desktopxl{
                width: 1500px;
            }
            @include desktop{
                width: 1500px;
            }
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 60px;
            }
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 60px;
                margin-right: 60px;
            }
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 100px;
            }
            @include extrasmallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 80px;
            }

            .michael-jackson-foto__zombie {
                display: flex;
                width: 375px;
                height: 239px;
                margin-left: 40px;
                margin-right: 5px;
                margin-top: 30px;
                padding: 12px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }

                @include desktop{
                    width: 500px;
                    height: 295px;
                }

                @include tablet{
                    width: 900px;
                    height: 540px;
                }

                @include mobile{
                    width: 1000px;
                    height: 600px;
                }

                @include smallmobile{
                    width: 1000px;
                    height: 600px;
                }

                @include extrasmallmobile{
                    width: 1000px;
                    height: 600px;
                }
            }
            
            .michael-jackson-parrafo__thriller {
                padding: 11px;
                font-size: 24px;
                margin-top: 31px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                @include desktopxl{
                    font-size: 22px;
                }
                @include desktop{
                    padding: 15px;
                    width: 1000px;
                    font-size: 22px;
                }
                @include tablet{
                    font-size: 47px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include mobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include extrasmallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }

        .michael-jackson-superbowl{
            display: flex;

            @include desktopxl{
                width: 1500px;
            }
            @include desktop{
                width: 1500px;
            }
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 60px;
            }
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 60px;
                margin-right: 60px;
            }
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 100px;
            }
            @include extrasmallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 80px;
            }

            .michael-jackson-foto__chaquetamilitar {
                display: flex;
                width: 338px;
                height: 528px;
                margin-left: 40px;
                margin-right: 5px;
                margin-top: 30px;
                padding: 10px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }

                @include desktop{
                    width: 420px;
                    height: 595px;
                }

                @include tablet{
                    width: 900px;
                    height: 1450px;
                }

                @include mobile{
                    width: 1000px;
                    height: 1560px;
                }

                @include smallmobile{
                    width: 1000px;
                    height: 1560px;
                }

                @include extrasmallmobile{
                    width: 1000px;
                    height: 1560px;
                }
            }
            
            .michael-jackson-parrafo__superbowl {
                padding: 12px;
                font-size: 24px;
                margin-top: 30px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                @include desktopxl{
                    font-size: 22px;
                }
                @include desktop{
                    padding: 30px;
                    width: 1000px;
                    font-size: 21px;
                }
                @include tablet{
                    font-size: 47px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include mobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
                @include extrasmallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
        }

        .michael-jackson-thisisit{
            display: flex;
            margin-bottom: 400px;

            @include desktopxl{
                width: 1500px;
            }
            @include desktop{
                width: 1500px;
            }
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 60px;
            }
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 60px;
                margin-right: 60px;
            }
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 100px;
            }
            @include extrasmallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 80px;
            }

            .michael-jackson-foto__thisisit {
                display: flex;
                width: 360px;
                height: 214px;
                margin-left: 40px;
                margin-right: 5px;
                margin-top: 29px;
                padding: 10px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }

                @include tablet{
                    width: 900px;
                    height: 600px;
                }

                @include mobile{
                    width: 1000px;
                    height: 650px;
                }

                @include smallmobile{
                    width: 1000px;
                    height: 650px;
                }

                @include extrasmallmobile{
                    width: 1000px;
                    height: 650px;
                }
            }
            
            .michael-jackson-parrafo__thisisit {
                padding: 8px;
                font-size: 22px;
                margin-top: 29px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                 border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                margin-bottom: 160px;

                @include desktopxl{
                    font-size: 21px;
                    margin-bottom: 500px;
                }
                @include desktop{
                    margin-bottom: 500px;
                }
                @include tablet{
                    font-size: 47px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                    margin-bottom: 500px;
                }
                @include mobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                    margin-bottom: 500px;
                }
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                    margin-bottom: 500px;
                }
                @include extrasmallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 40px;
                    margin-right: 5px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                    margin-bottom: 500px;
                }
            }
        }
    }
}