.main{

    .historia-titulo {
        color: black;
        text-align: center;
        font-size: 50px;
        font-family: $gillsans;
        margin-top: 100px;
        background-color: $migris;
        margin-left: 450px;
        margin-right: 450px;
        opacity: 75%;
        border-radius: 10px;

        @include desktopxl{
            margin-top: 200px;
            font-size: 55px;
            margin-bottom: 50px;
            width: 650px;
            margin-left: 500px;
        }

        @include tablet{
            margin-top: 200px;
            font-size: 55px;
            margin-bottom: 50px;
            width: 650px;
            margin-left: 500px;
        }

        @include mobile{
            margin-top: 200px;
            font-size: 70px;
            margin-bottom: 50px;
            width: 650px;
            margin-left: 480px;
        }

        @include smallmobile{
            margin-top: 200px;
            font-size: 80px;
            margin-bottom: 50px;
            width: 700px;
            margin-left: 450px;
        }
    }

    .historia-canciones{

        .historia-billiejean{
            display: flex;

            @include desktopxl{
                width: 1600px;
            }
    
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }

            .historia-canciones-parrafo__billiejean{
                padding: 5px;
                font-size: 25px;
                margin-top: 30px;
                margin-right: 50px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                @include desktopxl{
                    font-size: 28px;
                    width: 1100px;
                    padding: 12px;
                }
        
                @include tablet{
                    font-size: 40px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include mobile{
                    font-size: 40px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
            
            .historia-canciones_foto__billiejean{
                display: flex;
                padding: 10px;
                width: 470px;
                height: 235px;
                margin-top: 30px;
                margin-left: 50px;
                margin-right: 0px;
                background-color: $migris;

                @include desktopxl{
                    width: 600px;
                    height: 360px;
                }
        
                @include tablet{
                    width: 900px;
                    height: 600px;  
                }
        
                @include mobile{
                    width: 900px;
                    height: 600px;
                }
        
                @include smallmobile{
                    width: 1000px;
                    height: 700px;
                }
            }
        }
        
        .historia-bad{
            display: flex;

            @include desktopxl{
                width: 1600px;
            }
    
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }

            .historia-canciones-parrafo__bad{
                padding: 7px;
                font-size: 22px;
                margin-top: 14px;
                margin-right: 50px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                @include desktopxl{
                    font-size: 24px;
                    width: 1100px;
                    padding: 5px;
                }
        
                @include tablet{
                    font-size: 40px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include mobile{
                    font-size: 45px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
            
            .historia-canciones_foto__bad{
                display: flex;
                padding: 10px;
                width: 430px;
                height: 278px;
                margin-top: 14px;
                margin-left: 50px;
                background-color: $migris;

                @include desktopxl{
                    width: 570px;
                    height: 405px;
                }
        
                @include tablet{
                    width: 900px;
                    height: 550px;
                    margin-top: 100px;
                }
        
                @include mobile{
                    width: 900px;
                    height: 550px;
                    margin-top: 100px;
                }
        
                @include smallmobile{
                    width: 1000px;
                    height: 630px;
                    margin-top: 100px;
                }
            }
        }
        
        .historia-smoothcriminal{
            display: flex;

            @include desktopxl{
                width: 1600px;
            }
    
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }

            .historia-canciones-parrafo__smoothcriminal{
                padding: 5px;
                font-size: 24px;
                margin-top: 14px;
                margin-right: 50px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                @include desktopxl{
                    font-size: 25px;
                    width: 1100px;
                    padding: 10px;
                }

                @include tablet{
                    font-size: 40px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include mobile{
                    font-size: 45px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
            
            .historia-canciones_foto__smoothcriminal{
                display: flex;
                padding: 9px;
                width: 430px;
                height: 298px;
                margin-top: 14px;
                margin-left: 50px;
                background-color: $migris;

                @include desktopxl{
                    width: 650px;
                    height: 470px;
                }
        
                @include tablet{
                    width: 900px;
                    height: 620px;
                    margin-top: 100px;
                }
        
                @include mobile{
                    width: 900px;
                    height: 620px;
                    margin-top: 100px;
                }
        
                @include smallmobile{
                    width: 1000px;
                    height: 690px;
                    margin-top: 100px;
                }
            }
        }
        
        .historia-beatit{
            display: flex;

            @include desktopxl{
                width: 1600px;
            }
    
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }

            .historia-canciones-parrafo__beatit{
                padding: 2px;
                font-size: 21px;
                margin-top: 14px;
                margin-right: 50px;
                text-align: left;
                background-color: rgb(169, 164, 164);
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                @include desktopxl{
                    font-size: 25px;
                    width: 1100px;
                    padding: 12px;
                    border-bottom-left-radius: 10px;
                }
        
                @include tablet{
                    font-size: 40px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include mobile{
                    font-size: 45px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
            
            .historia-canciones_foto__beatit{
                display: flex;
                padding: 10px;
                width: 430px;
                height: 287px;
                margin-top: 14px;
                margin-left: 50px;
                background-color: rgb(169, 164, 164);

                @include desktopxl{
                    width: 700px;
                    height: 500px;
                }
        
                @include tablet{
                    width: 900px;
                    height: 560px;
                    margin-top: 100px;
                }
        
                @include mobile{
                    width: 900px;
                    height: 560px;
                    margin-top: 100px;
                }
        
                @include smallmobile{
                    width: 1000px;
                    height: 630px;
                    margin-top: 100px;
                }
            }
        }
        
        .historia-theydontcareaboutus{
            display: flex;

            @include desktopxl{
                width: 1600px;
            }
    
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }

            .historia-canciones-parrafo__theydontcareaboutus{
                padding: 6px;
                font-size: 22px;
                margin-top: 14px;
                margin-right: 50px;
                text-align: left;
                background-color: rgb(169, 164, 164);
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                @include desktopxl{
                    font-size: 24px;
                    width: 1100px;
                    padding: 5px;
                    border-bottom-left-radius: 10px;
                }
        
                @include tablet{
                    font-size: 40px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include mobile{
                    font-size: 45px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
            
            .historia-canciones_foto__theydontcareaboutus{
                display: flex;
                padding: 10px;
                width: 430px;
                height: 309px;
                margin-top: 14px;
                margin-left: 50px;
                background-color: rgb(169, 164, 164);

                @include desktopxl{
                    width: 650px;
                    height: 450px;
                }
        
                @include tablet{
                    width: 900px;
                    height: 620px;
                    margin-top: 100px;
                }
        
                @include mobile{
                    width: 900px;
                    height: 620px;
                    margin-top: 100px;
                }
        
                @include smallmobile{
                    width: 1000px;
                    height: 690px;
                    margin-top: 100px;
                }
            }
        }
        
        .historia-thriller{
            display: flex;
            margin-bottom: 400px;

            @include desktopxl{
                width: 1600px;
            }
    
            @include tablet{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include mobile{
                align-items: center;
                display: flex;
                flex-direction: column;
            }
    
            @include smallmobile{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-bottom: 500px;
            }

            .historia-canciones-parrafo__thriller{
                padding: 15px;
                font-size: 20px;
                margin-top: 14px;
                margin-right: 50px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                margin-bottom: 160px;

                @include desktopxl{
                    font-size: 28px;
                    width: 1100px;
                    padding: 12px;
                    border-bottom-left-radius: 10px;
                }
        
                @include tablet{
                    font-size: 40px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include mobile{
                    font-size: 45px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 900px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
        
                @include smallmobile{
                    font-size: 55px;
                    margin-top: 5px;
                    margin-left: 52px;
                    margin-right: 2px;
                    width: 1000px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }
            }
            
            .historia-canciones_foto__thriller{
                display: flex;
                padding: 10px;
                width: 430px;
                height: 279px;
                margin-top:14px;
                margin-left: 50px;
                background-color: $migris;

                @include desktopxl{
                    width: 710px;
                    height: 460px;
                }
        
                @include tablet{
                    width: 900px;
                    height: 600px;
                    margin-top: 100px;
                }
        
                @include mobile{
                    width: 900px;
                    height: 600px;
                    margin-top: 100px;
                }
        
                @include smallmobile{
                    width: 1000px;
                    height: 660px;
                    margin-top: 100px;
                }
            }
        }
    }
}