.main{

    .historia-titulo {
        color: black;
        text-align: center;
        font-size: 50px;
        font-family: $gillsans;
        margin-top: 100px;
        background-color: $migris;
        margin-left: 450px;
        margin-right: 450px;
        opacity: 75%;
        border-radius: 10px;

        &:hover{
            transform: scale(1.1) translateY(-10px);
            transition: all 1.2s 0s;
            border-radius: 10px;
            background-color: black;
            color: $oro;
        }
    }

    .historia-canciones{

        .historia-billiejean{
            display: flex;

            .historia-canciones-parrafo__billiejean{
                padding: 5px;
                font-size: 25px;
                margin-top: 30px;
                margin-right: 25px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            
            .historia-canciones_foto__billiejean{
                display: flex;
                padding: 10px;
                width: 470px;
                height: 235px;
                margin-top: 30px;
                margin-left: 25px;
                margin-right: 0px;
                background-color: $migris;
            }
        }
        
        .historia-bad{
            display: flex;

            .historia-canciones-parrafo__bad{
                padding: 7px;
                font-size: 20px;
                margin-top: 14px;
                margin-right: 25px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            
            .historia-canciones_foto__bad{
                display: flex;
                padding: 10px;
                width: 430px;
                height: 284px;
                margin-top: 14px;
                margin-left: 25px;
                background-color: $migris;
            }
        }
        
        .historia-smoothcriminal{
            display: flex;

            .historia-canciones-parrafo__smoothcriminal{
                padding: 5px;
                font-size: 22px;
                margin-top: 14px;
                margin-right: 25px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;


            }
            
            .historia-canciones_foto__smoothcriminal{
                display: flex;
                padding: 9px;
                width: 415px;
                height: 274px;
                margin-top: 14px;
                margin-left: 25px;
                background-color: $migris;
            }
        }
        
        .historia-beatit{
            display: flex;

            .historia-canciones-parrafo__beatit{
                padding: 2px;
                font-size: 19px;
                margin-top: 14px;
                margin-right: 25px;
                text-align: left;
                background-color: rgb(169, 164, 164);
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            
            .historia-canciones_foto__beatit{
                display: flex;
                padding: 10px;
                width: 430px;
                height: 289px;
                margin-top: 14px;
                margin-left: 25px;
                background-color: rgb(169, 164, 164);
            }
        }
        
        .historia-theydontcareaboutus{
            display: flex;

            .historia-canciones-parrafo__theydontcareaboutus{
                padding: 8px;
                font-size: 20px;
                margin-top: 14px;
                margin-right: 25px;
                text-align: left;
                background-color: rgb(169, 164, 164);
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            
            .historia-canciones_foto__theydontcareaboutus{
                display: flex;
                padding: 10px;
                width: 410px;
                height: 286px;
                margin-top: 14px;
                margin-left: 25px;
                background-color: rgb(169, 164, 164);
            }
        }
        
        .historia-thriller{
            display: flex;
            margin-bottom: 400px;

            .historia-canciones-parrafo__thriller{
                padding: 10px;
                font-size: 20px;
                margin-top: 14px;
                margin-right: 25px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                margin-bottom: 160px;
            }
            
            .historia-canciones_foto__thriller{
                display: flex;
                padding: 10px;
                width: 430px;
                height: 279px;
                margin-top:14px;
                margin-left: 25px;
                background-color: $migris;
            }
        }
    }
}