.main{

    .contacto-menu{
        margin-top: 100px;

        @include bigdesktophd{
            margin-top: 200px;
            margin-left: 200px;
            margin-right: 200px;
        }
        @include desktophd{
            margin-top: 200px;
            margin-left: 10px;
            margin-right: 10px;
        }
        @include desktop{
            margin-top: 200px;
            margin-left: 10px;
            margin-right: 10px;
        }
        @include tablet{
            margin-top: 200px;
            margin-left: 10px;
            margin-right: 10px;
        }
        @include mobile{
            margin-top: 200px;
            margin-left: 20px;
            margin-right: 10px;
        }
        @include smallmobile{
            margin-top: 200px;
            margin-left: 10px;
        }

        .contacto-titulo {
            text-align: center;
            background-color: $migris;
            opacity: 90%;
            border-radius: 10px;
            margin-left: 160px;
            margin-right: 160px; 
            padding: 5px;
            color: black;
            font-size: 40px;
            font-family: $gillsans;

            &:hover{
                transform: scale(1.1) translateY(-10px);
                transition: all 1.2s 0s;
                border-radius: 10px;
                background-color: white;
                filter: invert(1);
            }

            .completa-formulario{

                @include bigdesktophd{
                    color: black;
                    font-size: 45px;
                }
                @include desktophd{
                    color: black;
                    font-size: 45px;
                }
                @include desktop{
                    color: black;
                    font-size: 60px;
                }
                @include tablet{
                    color: black;
                    font-size: 65px;
                }
                @include mobile{
                    color: black;
                    font-size: 70px;
                }
                @include smallmobile{
                    color: black;
                    font-size: 70px;
                }
            }
        }
    }

    .form{

        margin-top: 60px;
        margin-bottom: 160px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "datos-contenedor  album-favorito-contenedor"
        "cancion-favorita-contenedor  dejanos-tu-opinion-contenedor";

        @include bigdesktophd{
            display: grid;
            height: 1400px;
        }
        @include desktophd{
            display: grid;
            height: 1400px;
        }
        @include desktop{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        @include tablet{
            display: flex;
            flex-direction: column;
        }
        @include mobile{
            display: flex;
            flex-direction: column;
        }
        @include smallmobile{
            display: flex;
            flex-direction: column;
        }

        & .datos-contenedor{
            grid-area: datos-contenedor;
            grid-column: 2;
        }

        .datos-contenedor{
            padding: 10px;
            padding-top: 11px;
            padding-bottom: 77px;
            font-size: 20px;
            text-align: left;
            color: #0e0e0e;
            background-color: $migris;
            border-top-left-radius: 10px;
            opacity: 90%;

            @include bigdesktophd{
                width: 500px;
                padding-bottom: 21px;
                border-top-right-radius: 0;
            }
            @include desktophd{
                width: 500px;
                padding-bottom: 21px;
                border-top-right-radius: 0;
            }
            @include desktop{
                width: 1070px;
                padding-bottom: 20px;
            }
            @include tablet{
                width: 1070px;
                padding-bottom: 20px;
                border-top-right-radius: 10px;
            }
            @include mobile{
                width: 1070px;
                padding-bottom: 20px;
                border-top-right-radius: 10px;
            }
            @include smallmobile{
                width: 1070px;
                padding-bottom: 20px;
                border-top-right-radius: 10px;
            }

            .completa-datos{
                font-size: 30px;
                font-family: $gillsans;

                &:hover{
                    transform: scale(1.1) translateX(15px);
                    transition: all 1.2s 0s;
                }

                @include bigdesktophd{
                    font-size: 35px;
                }
                @include desktophd{
                    font-size: 35px;
                }
                @include desktop{
                    font-size: 50px;
                }
                @include tablet{
                    font-size: 50px;
                }
                @include mobile{
                    font-size: 60px;
                }
                @include smallmobile{
                    font-size: 60px;
                }
            }

            .datos-usuario{
                margin-top: 10px;

                @include bigdesktophd{
                    margin-top: 24px;
                }
                @include desktophd{
                    margin-top: 24px;
                }
                @include desktop{
                    margin-top: 20px;
                }
                @include tablet{
                    margin-top: 20px;
                }
                @include mobile{
                    margin-top: 20px;
                }
                @include smallmobile{
                    margin-top: 20px;
                }

               .datos-usuario__nombre{
                    padding: 10px;
                    font-size: 15px;
                    margin-top: 10px;
                    margin-left: 15px;

                    @include bigdesktophd{
                        font-size: 25px;
                    }
                    @include desktophd{
                        font-size: 25px;
                    }
                    @include desktop{
                        font-size: 30px;
                    }
                    @include tablet{
                        font-size: 30px;
                    }
                    @include mobile{
                        font-size: 40px;
                    }
                    @include smallmobile{
                        font-size: 40px;
                    }
                }
                    
               .datos-usuario__apellido {
                    padding: 10px;
                    font-size: 15px;
                    margin-top: 10px;
                    margin-left: 15px;

                    @include bigdesktophd{
                        font-size: 25px;
                    }
                    @include desktophd{
                        font-size: 25px;
                    }
                    @include desktop{
                        font-size: 30px;
                    }
                    @include tablet{
                        font-size: 30px;
                    }
                    @include mobile{
                        font-size: 40px;
                    }
                    @include smallmobile{
                        font-size: 40px;
                    }
                }
                    
                .datos-usuario__edad{
                    padding: 10px;
                    font-size: 15px;
                    margin-top: 10px;
                    margin-left: 15px;

                    @include bigdesktophd{
                        font-size: 25px;
                    }
                    @include desktophd{
                        font-size: 25px;
                    }
                    @include desktop{
                        font-size: 30px;
                    }
                    @include tablet{
                        font-size: 30px;
                    }
                    @include mobile{
                        font-size: 40px;
                    }
                    @include smallmobile{
                        font-size: 40px;
                    }
                }
                    
               .datos-usuario__email{
                    padding: 10px;
                    font-size: 15px;
                    margin-top: 10px;
                    margin-left: 15px;
                    @include bigdesktophd{
                        font-size: 25px;
                    }
                    @include desktophd{
                        font-size: 25px;
                    }
                    @include desktop{
                        font-size: 30px;
                    }
                    @include tablet{
                        font-size: 30px;
                    }
                    @include mobile{
                        font-size: 40px;
                    }
                    @include smallmobile{
                        font-size: 40px;
                    }
                }
            }
        }

        & .album-favorito-contenedor{
            grid-area: album-favorito-contenedor;
            grid-column: 3;
        }

        .album-favorito-contenedor{
            padding-top: 16px;
            padding-bottom: 78px;
            font-size: 20px;
            text-align: left;
            color: #0e0e0e;
            background-color: $migris;
            border-top-right-radius: 10px;
            opacity: 90%;

            @include bigdesktophd{
                width: 500px;
                padding-bottom: 20px;
                border-top-right-radius: 10px;
            }
            @include desktophd{
                width: 500px;
                padding-bottom: 20px;
                border-top-right-radius: 10px;
            }
            @include desktop{
                width: 1070px;
                padding-bottom: 20px;
            }
            @include tablet{
                width: 1070px;
                padding-bottom: 20px;
                border-top-right-radius: 0px;
            }
            @include mobile{
                width: 1070px;
                padding-bottom: 20px;
                border-top-right-radius: 0px;
            }
            @include smallmobile{
                width: 1070px;
                padding-bottom: 20px;
                border-top-right-radius: 0px;
            }

            .album-favorito-titulo{
                font-size: 29px;
                font-family: $gillsans;

                &:hover{
                    transform: scale(1.1) translateX(15px);
                    transition: all 1.2s 0s;
                }

                @include bigdesktophd{
                    font-size: 35px;
                }
                @include desktophd{
                    font-size: 35px;
                }
                @include desktop{
                    font-size: 50px;
                }
                @include tablet{
                    font-size: 50px;
                }
                @include mobile{
                    font-size: 60px;
                }
                @include smallmobile{
                    font-size: 60px;
                }
            }

            .album-favorito {
                margin-top: 10px;
                background-color: $migris;
                opacity: 85%;
                font-size: 25px;
                opacity: 90%;

                @include bigdesktophd{
                    font-size: 30px;
                    margin-top: 30px;
                }
                @include desktophd{
                    font-size: 30px;
                    margin-top: 30px;
                }
                @include desktop{
                    font-size: 40px;
                }
                @include tablet{
                    font-size: 40px;
                }
                @include mobile{
                    font-size: 50px;
                }
                @include smallmobile{
                    font-size: 50px;
                }

                .album-favorito-opcion__nombre {
                    padding: 10px;
                    font-size: 10px;
                    margin-top: 20px;
                    margin-left: 15px;
                    opacity: 90%;
                }
            }
        }

        & .cancion-favorita-contenedor{
            grid-area: cancion-favorita-contenedor;
            grid-column: 2;
        }

        .cancion-favorita-contenedor{
            padding-top: 10px;
            padding-bottom: 49px;
            margin-bottom: 29px;
            font-size: 20px;
            text-align: left;
            color: #0e0e0e;
            background-color: $migris;
            border-bottom-left-radius: 10px;
            opacity: 90%;

            @include bigdesktophd{
                width: 500px;
                padding-bottom: 20px;
                margin-bottom: 500px;
                border-bottom-left-radius: 10px;
            }
            @include desktophd{
                width: 500px;
                padding-bottom: 20px;
                margin-bottom: 500px;
                border-bottom-left-radius: 10px;
            }
            @include desktop{
                width: 1070px;
                padding-bottom: 20px;
                margin-bottom: 0;
            }
            @include tablet{
                width: 1070px;
                padding-bottom: 20px;
                margin-bottom: 0;
            }
            @include mobile{
                width: 1070px;
                padding-bottom: 20px;
                margin-bottom: 0;
            }
            @include smallmobile{
                width: 1070px;
                padding-bottom: 20px;
                margin-bottom: 0;
            }

            .cancion-favorita-titulo{
                padding: 10px;
                font-size: 25px;
                font-family: $gillsans;
                margin-top: 0px;
                margin-bottom: 0;
                text-align: left;
                color: #0e0e0e;

                &:hover{
                    transform: scale(1.1) translateX(15px);
                    transition: all 1.2s 0s;
                }

                @include bigdesktophd{
                    font-size: 35px;
                }
                @include desktophd{
                    font-size: 35px;
                }
                @include desktop{
                    font-size: 50px;
                }
                @include tablet{
                    font-size: 50px;
                }
                @include mobile{
                    font-size: 60px;
                }
                @include smallmobile{
                    font-size: 60px;
                }
            }

            .cancion-favorita-opcion{
                opacity: 85%;
                font-size: 25px;

                @include bigdesktophd{
                    font-size: 30px;
                    margin-top: 14px;  
                }
                @include desktophd{
                    font-size: 30px;
                    margin-top: 14px;
                }
                @include desktop{
                    font-size: 40px;
                }
                @include tablet{
                    font-size: 40px;
                }
                @include mobile{
                    font-size: 50px;
                }
                @include smallmobile{
                    font-size: 50px;
                }

                .cancion-favorita-opcion__nombre{
                    padding: 10px;
                    font-size: 10px;
                    margin-top: 20px;
                    margin-left: 15px;
                }
            }
        }

        & .dejanos-tu-opinion-contenedor{
            grid-area: dejanos-tu-opinion-contenedor;
            grid-column: 3;
        }

        .dejanos-tu-opinion-contenedor{
            background-color: $migris;
            border-bottom-right-radius: 10px;
            opacity: 90%;
            padding-bottom: 11px;
            margin-bottom: 29px;

            @include bigdesktophd{
                width: 500px;
                padding-bottom: 20px;
                border-bottom-left-radius: 0;
                margin-bottom: 500px;
            }
            @include desktophd{
                width: 500px;
                padding-bottom: 20px;
                border-bottom-left-radius: 0;
            }
            @include desktop{
                width: 1070px;
                padding-bottom: 20px;
            }
            @include tablet{
                width: 1070px;
                padding-bottom: 20px;
                border-bottom-left-radius: 10px;
            }
            @include mobile{
                width: 1070px;
                padding-bottom: 20px;
                border-bottom-left-radius: 10px;
            }
            @include smallmobile{
                width: 1070px;
                padding-bottom: 20px;
                border-bottom-left-radius: 10px;
            }

            .dejanos-tu-opinion-titulo {
                padding: 10px;
                font-size: 26px;
                font-family: $gillsans;
                margin-top: 0px;
                margin-bottom: 0;
                text-align: left;
                color: #0e0e0e;

                &:hover{
                    transform: scale(1.1) translateX(15px);
                    transition: all 1.2s 0s;
                }

                @include bigdesktophd{
                    font-size: 35px;
                }
                @include desktophd{
                    font-size: 35px;
                }
                @include desktop{
                    font-size: 50px;
                }
                @include tablet{
                    font-size: 50px;
                }
                @include mobile{
                    font-size: 60px;
                }
                @include smallmobile{
                    font-size: 60px;
                }
            }

            .cuadrado-para-opinion{
                padding-top: 10px;
                padding: 5px;
                font-size: 10px;
                margin-top: 0px;
                margin-bottom: 0;

                .cuadrado-para-opinion__escribir{
                    font-size: 17px;

                    @include bigdesktophd{
                        font-size: 20px;
                        margin-top: 15px;
                    }
                    @include desktophd{
                        font-size: 20px;
                        margin-top: 15px;
                    }
                    @include desktop{
                        font-size: 40px;
                    }
                    @include tablet{
                        font-size: 40px;
                    }
                    @include mobile{
                        font-size: 50px;
                    }
                    @include smallmobile{
                        font-size: 50px;
                    }
                }

            }

            .enviar-o-resetear{
                grid-area: enviar-o-resetear;
                grid-column: 3;
                margin-left: 15px;

                @include bigdesktophd{
                    font-size: 20px;
                }
                @include desktophd{
                    font-size: 20px;
                }
                @include desktop{
                    font-size: 30px;
                }
                @include tablet{
                    font-size: 30px;
                }
                @include mobile{
                    font-size: 40px;
                }
                @include smallmobile{
                    font-size: 40px;
                }
            }
        }
    }
}