main{
    
    .michael-jackson-titulo {
        color: black;
        text-align: center;
        font-size: 50px;
        font-family: $gillsans;
        margin-top: 100px;
        background-color: $migris;
        margin-left: 390px;
        margin-right: 390px;
        opacity: 75%;
        border-radius: 10px;

        &:hover{
            transform: scale(1.1) translateY(-10px);
            transition: all 1.2s 0s;
            border-radius: 10px;
            background-color: black;
            color: $oro;
        }
    }

    .parrafos-y-fotos-contenedor{
        width: 1650px;
        
        .michael-jackson-niñez{
            display: flex;

            .michael-jackson-foto__niño{
                display: flex;
                padding: 10px;
                width: 377px;
                height: 358px;
                margin-top: 30px;
                margin-right: 5px;
                margin-left: 40px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }
            }
            
            .michael-jackson-parrafo__niñez {
                padding: 8px;
                font-size: 19px;
                margin-top: 30px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        .michael-jackson-adolescente{
            display: flex;

            .michael-jackson-foto__adolescente {
                display: flex;
                width: 375px;
                height: 280px;
                margin-left: 40px;
                margin-right: 5px;
                margin-top: 30px;
                padding: 10px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }
            }
            
            .michael-jackson-parrafo__adolescente {
                padding: 10px;
                font-size: 19px;
                margin-top: 30px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        .michael-jackson-cantando{
            display: flex;

            .michael-jackson-foto__cantando {
                display: flex;
                width: 375px;
                height: 265px;
                margin-left: 40px;
                margin-top: 30px;
                margin-right: 5px;
                padding: 10px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }
            }
            
            .michael-jackson-parrafo__cantando {
                padding: 7px;
                font-size: 21px;
                margin-top: 30px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        .michael-jackson-thriller{
            display: flex;

            .michael-jackson-foto__zombie {
                display: flex;
                width: 375px;
                height: 239px;
                margin-left: 40px;
                margin-right: 5px;
                margin-top: 30px;
                padding: 12px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }
            }
            
            .michael-jackson-parrafo__thriller {
                padding: 11px;
                font-size: 24px;
                margin-top: 31px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        .michael-jackson-superbowl{
            display: flex;

            .michael-jackson-foto__chaquetamilitar {
                display: flex;
                width: 338px;
                height: 528px;
                margin-left: 40px;
                margin-right: 5px;
                margin-top: 30px;
                padding: 10px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }
            }
            
            .michael-jackson-parrafo__superbowl {
                padding: 12px;
                font-size: 24px;
                margin-top: 30px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        .michael-jackson-thisisit{
            display: flex;
            margin-bottom: 400px;

            .michael-jackson-foto__thisisit {
                display: flex;
                width: 360px;
                height: 214px;
                margin-left: 40px;
                margin-right: 5px;
                margin-top: 29px;
                padding: 10px;
                background-color: $migris;

                &:hover{
                    transform: scale(1.05) ;
                    transition: all 1s 0s;
                }
            }
            
            .michael-jackson-parrafo__thisisit {
                padding: 8px;
                font-size: 22px;
                margin-top: 29px;
                margin-right: 5px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                 border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                margin-bottom: 160px;
            }
        }
    }
}