.main{

    .contacto-menu{
        margin-top: 100px;
        max-width: 100%;

        @include mobile{
            padding: 20px;
        }

        @include tablet{
            padding: 20px;
        }

        @include desktop{
            padding: 20px;
        }

        .contacto-titulo {
            text-align: center;
            background-color: $migris;
            opacity: 90%;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto; 
            max-width: 100%;
            width: 600px;
            padding: 5px;
            color: black;
            font-size: 40px;
            font-family: $gillsans;

            &:hover{
                transform: scale(1.1) translateY(-10px);
                transition: all 1.2s 0s;
                border-radius: 10px;
                background-color: white;
                filter: invert(1);
            }
        }
    }

    .form{
        justify-content: center;
        max-width: 100%;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 160px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "datos-contenedor  album-favorito-contenedor"
        "cancion-favorita-contenedor  dejanos-tu-opinion-contenedor";

        & .datos-contenedor{
            grid-area: datos-contenedor;
            grid-column: 2;
        }

        @include mobile{
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        @include tablet{
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        @include desktop{
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        @include large-desktop{
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 800px;
        }

        .datos-contenedor{
            padding: 10px;
            padding-top: 11px;
            padding-bottom: 77px;
            font-size: 20px;
            text-align: left;
            color: #0e0e0e;
            background-color: $migris;
            border-top-left-radius: 10px;
            opacity: 90%;
            width: 350px;

            @include mobile{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 500px;
                border-top-right-radius: 10px;
            }

            @include tablet{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 500px;
                border-top-right-radius: 10px;
            }

            @include desktop{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 500px;
                border-top-right-radius: 10px;
            }

            @include large-desktop{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 700px;
                border-top-right-radius: 10px;
            }

            .completa-datos{
                font-size: 30px;
                font-family: $gillsans;

                &:hover{
                    transform: scale(1.1) translateX(15px);
                    transition: all 1.2s 0s;
                }
            }

            .datos-usuario{
                margin-top: 10px;

                @include large-desktop{
                    margin-top: 0;
                    padding-bottom: 20px;
                }

               .datos-usuario__nombre{
                    padding: 10px;
                    font-size: 15px;
                    margin-top: 10px;
                    margin-left: 15px;
                }
                    
               .datos-usuario__apellido {
                    padding: 10px;
                    font-size: 15px;
                    margin-top: 10px;
                    margin-left: 15px;
                }
                    
                .datos-usuario__edad{
                    padding: 10px;
                    font-size: 15px;
                    margin-top: 10px;
                    margin-left: 15px;
                }
                    
               .datos-usuario__email{
                    padding: 10px;
                    font-size: 15px;
                    margin-top: 10px;
                    margin-left: 15px;
                }
            }
        }

        & .album-favorito-contenedor{
            grid-area: album-favorito-contenedor;
            grid-column: 3;
        }

        .album-favorito-contenedor{
            padding-top: 16px;
            padding-bottom: 78px;
            font-size: 20px;
            text-align: left;
            color: #0e0e0e;
            background-color: $migris;
            border-top-right-radius: 10px;
            opacity: 90%;

            @include mobile{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                width: 500px;
                border-top-right-radius: 0;
                padding-bottom: 0;
            }

            @include tablet{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                width: 500px;
                border-top-right-radius: 0;
                padding-bottom: 0;
            }

            @include desktop{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                width: 500px;
                border-top-right-radius: 0;
                padding-bottom: 0;
            }

            @include large-desktop{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                width: 700px;
                border-top-right-radius: 0;
                padding-bottom: 0;
            }
            

            .album-favorito-titulo{
                font-size: 29px;
                font-family: $gillsans;

                &:hover{
                    transform: scale(1.1) translateX(15px);
                    transition: all 1.2s 0s;
                }
            }

            .album-favorito {
                margin-top: 10px;
                background-color: $migris;
                opacity: 85%;
                font-size: 25px;
                opacity: 90%;

                .album-favorito-opcion__nombre {
                    padding: 10px;
                    font-size: 10px;
                    margin-top: 20px;
                    margin-left: 15px;
                    opacity: 90%;
                }
            }
        }

        & .cancion-favorita-contenedor{
            grid-area: cancion-favorita-contenedor;
            grid-column: 2;
        }

        .cancion-favorita-contenedor{
            padding-top: 10px;
            padding-bottom: 49px;
            margin-bottom: 29px;
            font-size: 20px;
            text-align: left;
            color: #0e0e0e;
            background-color: $migris;
            border-bottom-left-radius: 10px;
            opacity: 90%;

            @include mobile{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 500px;
                margin-bottom: 0;
                border-bottom-left-radius: 0;
            }

            @include tablet{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 500px;
                margin-bottom: 0;
                border-bottom-left-radius: 0;
            }

            @include desktop{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 500px;
                margin-bottom: 0;
                border-bottom-left-radius: 0;
            }

            @include large-desktop{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 700px;
                margin-bottom: 0;
                border-bottom-left-radius: 0;
            }


            .cancion-favorita-titulo{
                padding: 10px;
                font-size: 25px;
                font-family: $gillsans;
                margin-top: 0px;
                margin-bottom: 0;
                text-align: left;
                color: #0e0e0e;

                &:hover{
                    transform: scale(1.1) translateX(15px);
                    transition: all 1.2s 0s;
                }
            }

            .cancion-favorita-opcion{
                opacity: 85%;
                font-size: 25px;

                .cancion-favorita-opcion__nombre{
                    padding: 10px;
                    font-size: 10px;
                    margin-top: 20px;
                    margin-left: 15px;
                }
            }
        }

        & .dejanos-tu-opinion-contenedor{
            grid-area: dejanos-tu-opinion-contenedor;
            grid-column: 3;
        }

        .dejanos-tu-opinion-contenedor{
            background-color: $migris;
            border-bottom-right-radius: 10px;
            opacity: 90%;
            padding-bottom: 11px;
            margin-bottom: 29px;

            @include mobile{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 500px;
                margin-top: 0;
                border-bottom-left-radius: 10px;
            }

            @include tablet{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 500px;
                margin-top: 0;
                border-bottom-left-radius: 10px;
            }

            @include desktop{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 500px;
                margin-top: 0;
                border-bottom-left-radius: 10px;
            }

            @include large-desktop{
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 700px;
                margin-top: 0;
                padding-bottom: 70px;
                border-bottom-left-radius: 10px;
               
            }

            .dejanos-tu-opinion-titulo {
                padding: 10px;
                font-size: 26px;
                font-family: $gillsans;
                margin-top: 0px;
                margin-bottom: 0;
                text-align: left;
                color: #0e0e0e;

                &:hover{
                    transform: scale(1.1) translateX(15px);
                    transition: all 1.2s 0s;
                }
            }

            .cuadrado-para-opinion{
                padding-top: 10px;
                padding: 5px;
                font-size: 10px;
                margin-top: 0px;
                margin-bottom: 0;

                @include mobile{
                    resize: none;
                    overflow: hidden;
                }

                @include tablet{
                    resize: none;
                    overflow: hidden;
                }

                @include desktop{
                    resize: none;
                    overflow: hidden;
                }
                

                .cuadrado-para-opinion__escribir{
                    font-size: 17px;
                }

            }

            .enviar-o-resetear{
                grid-area: enviar-o-resetear;
                grid-column: 3;
                margin-left: 15px;
            }
        }
    }
}