.main-albumes{
    width: 99%;
    display:flex;

    .albumes-contenedor{
        
        .albumes-titulo-contenedor{

            display: flex;
            justify-content: center;
            align-items: center;

           .albumes-titulo {
               color: black;
               text-align: center;
               font-size: 60px;
               font-family: $gillsans;
               margin-top: 100px;
               background-color: $migris;
               opacity: 75%;
               border-radius: 10px;
               margin-bottom: 30px;

               &:hover{
                  transform: scale(1.1) translateY(-10px);
                  transition: all 1.2s 0s;
                  border-radius: 10px;
                  background-color: black;
                  color: $oro;
                }
            }
        }


        .album-carousel-contenedor{

            -webkit-animation:scale-in-hor-right .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-hor-right .5s cubic-bezier(.25,.46,.45,.94) both;

            .carousel-item{
                
                .carousel-item__fotos{
                   width: 1200px;
                   height: 600px;
                   max-width: 100%;
                }
            }
        }

        .albumes-titulo-contenedor{
            display: flex;
            justify-content: center;
            align-items: center;

            .mejores-albumes-titulo{
               color: black;
               padding: 5px;
               text-align: center;
               font-size: 40px;
               font-family: $gillsans;
               margin-top: 50px;
               background-color: $migris;
               opacity: 75%;
               border-radius: 10px;

              &:hover{
                 transform: scale(1.1) translateY(-10px);
                 transition: all 1.2s 0s;
                 border-radius: 10px;
                 background-color: black;
                 color: $oro;
                }
            }
        }
        

        .album-thriller{
            display: flex;

            .mejores-albumes-portada__thriller{
                display: flex;
                width: 300px;
                height: 296px;
                margin-top: 15px;
                margin-left: 0px;
                margin-right: 25px;
                padding: 10px;
                background-color: $migris;
                opacity: 85%;

                &:hover{
                    transform: scale(1.05) translateY(-7px);
                    transition: all 1s 0s;
                }
            }
            
            .mejores-albumes-parrafo__thriller{
                padding: 13px;
                font-size: 20px;
                margin-top: 15px;
                margin-left: 25px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        
        .album-bad{
            display: flex;

            .mejores-albumes-portada__bad {
                display: flex;
                width: 300px;
                height: 303px;
                margin-top: 30px;
                margin-left: 0px;
                margin-right: 25px;
                padding: 10px;
                background-color: $migris;
                opacity: 85%;

                &:hover{
                    transform: scale(1.05) translateY(-7px);
                    transition: all 1s 0s;
                }
            }
            
            .mejores-albumes-parrafo__bad {
                padding: 3px;
                font-size: 18px;
                margin-top: 30px;
                margin-left: 25px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

            }
        }
        
        .album-dangerous{
            display: flex;

            .mejores-albumes-portada__dangerous {
                display: flex;
                width: 300px;
                height: 308px;
                margin-top: 30px;
                margin-left: 0px;
                margin-right: 25px;
                padding: 14px;
                background-color: $migris;
                opacity: 85%;

                &:hover{
                    transform: scale(1.05) translateY(-7px);
                    transition: all 1s 0s;
                }
            }
            
            .mejores-albumes-parrafo__dangerous {
                padding: 8px;
                font-size: 19.5px;
                margin-top: 30px;
                margin-left: 25px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        
        .album-history{
            display: flex;

            .mejores-albumes-portada__history {
                display: flex;
                width: 300px;
                height: 281px;
                margin-top: 30px;
                margin-left: 0px;
                margin-right: 25px;
                padding: 10px;
                background-color: $migris;
                opacity: 85%;

                &:hover{
                    transform: scale(1.05) translateY(-8px);
                    transition: all 1s 0s;
                }
            }
            
            .mejores-albumes-parrafo__history {
                padding: 12px;
                font-size: 19px;
                margin-top: 30px;
                margin-left: 25px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        
        .album-invincible{
            display: flex;
            margin-bottom: 400px;

            .mejores-albumes-portada__invincible {
                display: flex;
                width: 300px;
                height: 290px;
                margin-top: 30px;
                margin-left: 0px;
                margin-right: 25px;
                padding: 10px;
                background-color: $migris;
                opacity: 85%;

                &:hover{
                    transform: scale(1.05) translateY(-7px);
                    transition: all 1s 0s;
                }
            }
            
            .mejores-albumes-parrafo__invincible {
                padding: 10px;
                font-size: 20px;
                margin-top: 30px;
                margin-left: 25px;
                text-align: left;
                background-color: $migris;
                opacity: 85%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                margin-bottom: 160px;

            }
        }
    }
}