@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #121212;
  color: goldenrod;
}
*::selection {
  background-color: #121212;
  color: goldenrod;
}

header {
  padding-top: 0;
  position: sticky;
  top: 0;
  z-index: 3;
  max-width: 1800px;
  padding-bottom: 35px;
  width: 100%;
}
header .navbar {
  height: 70px;
}
@media screen and (max-width: 576px) {
  header .navbar {
    height: 90px;
  }
}
@media screen and (max-width: 768px) {
  header .navbar {
    height: 107px;
  }
}
header .navbar .navbar-brand {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media screen and (max-width: 576px) {
  header .navbar .navbar-brand {
    font-size: 15px;
  }
}
header .navbar .navbar-brand:hover {
  transition: all 2s 0s;
  color: goldenrod;
}
header .navbar .logonavbar {
  width: 60px;
  border-radius: 40px;
}
header .navbar .logonavbar:hover {
  transform: scale(1.3) translateX(10px);
  transition: all 2s 0s;
}
header .navbar .offcanvas-body .nav-item {
  display: flex;
  padding-bottom: 10px;
  list-style-type: none;
  gap: 60px;
  font-size: 20px;
  justify-content: space-between;
  transition: all 1s;
}
header .navbar .offcanvas-body .nav-item .nav-link {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header .navbar .offcanvas-body .nav-item:hover {
  width: 100%;
  transition: all 1.1s 0s;
  border-radius: 10px;
  background-color: #0e0e0e;
  filter: invert(1);
}

body {
  background-image: url(../img/michael-jacson-thriller-40-anoswebp.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 992px) {
  body {
    background-image: url(../../img/desktop-wallpaper-michael-jackson-art-michael-jackson-iphone.jpg);
  }
}

.main {
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.main .parrafo-inicio-contenedor {
  padding: 20px;
}
.main .parrafo-inicio-contenedor .parrafo-inicio {
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 100px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background-color: rgb(169, 164, 164);
  border-radius: 10px;
  opacity: 85%;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .main .parrafo-inicio-contenedor .parrafo-inicio {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main .parrafo-inicio-contenedor .parrafo-inicio {
    font-size: 24px;
  }
}
.main .parrafo-inicio-contenedor .parrafo-inicio:hover {
  transform: scale(1.1) translateY(-10px);
  transition: all 1.1s 0s;
  border-radius: 10px;
  background-color: black;
  color: goldenrod;
}
.main .video-inicio-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .video-inicio-contenedor .video-inicio {
  padding: 30px;
  margin-top: 40px;
  width: 1000px;
  max-width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .main .video-inicio-contenedor .video-inicio {
    width: 100%;
    max-width: none;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .main .video-inicio-contenedor .video-inicio {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.main .foto-inicio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main .foto-inicio .foto-inicio__thriller {
  display: flex;
  padding: 30px;
  width: 1200px;
  margin-bottom: 20px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .main .foto-inicio .foto-inicio__thriller {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.main .foto-inicio .foto-inicio__collage1 {
  display: flex;
  padding: 30px;
  width: 1200px;
  margin-bottom: 20px;
  max-width: 100%;
}
@media screen and (max-width: 576px) {
  .main .foto-inicio .foto-inicio__collage1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.main .foto-inicio .foto-inicio__collage2 {
  display: flex;
  padding: 30px;
  width: 1200px;
  margin-bottom: 20px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 160px;
}
@media screen and (max-width: 576px) {
  .main .foto-inicio .foto-inicio__collage2 {
    margin-top: 0;
  }
}

main .michael-jackson-titulo-contenedor {
  padding: 20px;
}
main .michael-jackson-titulo-contenedor .michael-jackson-titulo {
  color: black;
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
  background-color: rgb(169, 164, 164);
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 10px;
  opacity: 75%;
  border-radius: 10px;
}
main .michael-jackson-titulo-contenedor .michael-jackson-titulo:hover {
  transform: scale(1.1) translateY(-10px);
  transition: all 1.2s 0s;
  border-radius: 10px;
  background-color: black;
  color: goldenrod;
}
main .parrafos-y-fotos-contenedor {
  max-width: 100%;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor {
    display: flex;
    flex-direction: column;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-niñez {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-niñez {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-niñez {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-niñez {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-niñez {
    display: flex;
    align-items: flex-start;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-niñez .michael-jackson-foto__niño {
  display: flex;
  padding: 10px;
  width: 377px;
  max-width: 100%;
  margin-right: 5px;
  background-color: rgb(169, 164, 164);
}
main .parrafos-y-fotos-contenedor .michael-jackson-niñez .michael-jackson-foto__niño:hover {
  transform: scale(1.05);
  transition: all 1s 0s;
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-niñez .michael-jackson-foto__niño {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-niñez .michael-jackson-foto__niño {
    width: 100%;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-niñez .michael-jackson-parrafo__niñez {
  padding: 13px;
  font-size: 18px;
  margin-top: 17px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-niñez .michael-jackson-parrafo__niñez {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-niñez .michael-jackson-parrafo__niñez {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-niñez .michael-jackson-parrafo__niñez {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-niñez .michael-jackson-parrafo__niñez {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-adolescente {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-adolescente {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-adolescente {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-adolescente {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-adolescente {
    display: flex;
    align-items: flex-start;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-adolescente .michael-jackson-foto__adolescente {
  display: flex;
  padding: 10px;
  width: 390px;
  max-width: 100%;
  margin-right: 5px;
  background-color: rgb(169, 164, 164);
}
main .parrafos-y-fotos-contenedor .michael-jackson-adolescente .michael-jackson-foto__adolescente:hover {
  transform: scale(1.05);
  transition: all 1s 0s;
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-adolescente .michael-jackson-foto__adolescente {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-adolescente .michael-jackson-foto__adolescente {
    width: 100%;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-adolescente .michael-jackson-parrafo__adolescente {
  padding: 5px;
  font-size: 18px;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-adolescente .michael-jackson-parrafo__adolescente {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-adolescente .michael-jackson-parrafo__adolescente {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-adolescente .michael-jackson-parrafo__adolescente {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-adolescente .michael-jackson-parrafo__adolescente {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-cantando {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-cantando {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-cantando {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-cantando {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-cantando {
    display: flex;
    align-items: flex-start;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-cantando .michael-jackson-foto__cantando {
  display: flex;
  padding: 10px;
  width: 390px;
  max-width: 100%;
  margin-right: 5px;
  background-color: rgb(169, 164, 164);
}
main .parrafos-y-fotos-contenedor .michael-jackson-cantando .michael-jackson-foto__cantando:hover {
  transform: scale(1.05);
  transition: all 1s 0s;
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-cantando .michael-jackson-foto__cantando {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-cantando .michael-jackson-foto__cantando {
    width: 100%;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-cantando .michael-jackson-parrafo__cantando {
  padding: 6px;
  font-size: 21px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-cantando .michael-jackson-parrafo__cantando {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-cantando .michael-jackson-parrafo__cantando {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-cantando .michael-jackson-parrafo__cantando {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-cantando .michael-jackson-parrafo__cantando {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-thriller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thriller {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thriller {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thriller {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thriller {
    display: flex;
    align-items: flex-start;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-thriller .michael-jackson-foto__zombie {
  display: flex;
  padding: 10px;
  width: 370px;
  max-width: 100%;
  margin-right: 5px;
  background-color: rgb(169, 164, 164);
}
main .parrafos-y-fotos-contenedor .michael-jackson-thriller .michael-jackson-foto__zombie:hover {
  transform: scale(1.05);
  transition: all 1s 0s;
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thriller .michael-jackson-foto__zombie {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thriller .michael-jackson-foto__zombie {
    width: 100%;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-thriller .michael-jackson-parrafo__thriller {
  padding: 7px;
  font-size: 22px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thriller .michael-jackson-parrafo__thriller {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thriller .michael-jackson-parrafo__thriller {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thriller .michael-jackson-parrafo__thriller {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thriller .michael-jackson-parrafo__thriller {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-superbowl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-superbowl {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-superbowl {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-superbowl {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-superbowl {
    display: flex;
    align-items: flex-start;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-superbowl .michael-jackson-foto__chaquetamilitar {
  display: flex;
  padding: 10px;
  width: 322px;
  max-width: 100%;
  margin-right: 5px;
  background-color: rgb(169, 164, 164);
}
main .parrafos-y-fotos-contenedor .michael-jackson-superbowl .michael-jackson-foto__chaquetamilitar:hover {
  transform: scale(1.05);
  transition: all 1s 0s;
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-superbowl .michael-jackson-foto__chaquetamilitar {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-superbowl .michael-jackson-foto__chaquetamilitar {
    width: 100%;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-superbowl .michael-jackson-parrafo__superbowl {
  padding: 14px;
  font-size: 22px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-superbowl .michael-jackson-parrafo__superbowl {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-superbowl .michael-jackson-parrafo__superbowl {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-superbowl .michael-jackson-parrafo__superbowl {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-superbowl .michael-jackson-parrafo__superbowl {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-thisisit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 200px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit {
    display: flex;
    align-items: flex-start;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-thisisit .michael-jackson-foto__thisisit {
  display: flex;
  padding: 10px;
  width: 300px;
  max-width: 100%;
  margin-right: 5px;
  margin-bottom: 50px;
  background-color: rgb(169, 164, 164);
}
main .parrafos-y-fotos-contenedor .michael-jackson-thisisit .michael-jackson-foto__thisisit:hover {
  transform: scale(1.05);
  transition: all 1s 0s;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit .michael-jackson-foto__thisisit {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit .michael-jackson-foto__thisisit {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit .michael-jackson-foto__thisisit {
    width: 100%;
    margin-bottom: 20px;
  }
}
main .parrafos-y-fotos-contenedor .michael-jackson-thisisit .michael-jackson-parrafo__thisisit {
  padding: 10px;
  font-size: 22px;
  margin-top: 100px;
  margin-right: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 160px;
}
@media screen and (max-width: 576px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit .michael-jackson-parrafo__thisisit {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit .michael-jackson-parrafo__thisisit {
    margin-top: 0;
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit .michael-jackson-parrafo__thisisit {
    margin-top: 0;
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  main .parrafos-y-fotos-contenedor .michael-jackson-thisisit .michael-jackson-parrafo__thisisit {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}

.main-albumes {
  width: 99%;
  display: flex;
}
.main-albumes .albumes-contenedor .albumes-titulo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-albumes .albumes-contenedor .albumes-titulo-contenedor .albumes-titulo {
  color: black;
  text-align: center;
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 100px;
  background-color: rgb(169, 164, 164);
  opacity: 75%;
  border-radius: 10px;
  margin-bottom: 30px;
}
.main-albumes .albumes-contenedor .albumes-titulo-contenedor .albumes-titulo:hover {
  transform: scale(1.1) translateY(-10px);
  transition: all 1.2s 0s;
  border-radius: 10px;
  background-color: black;
  color: goldenrod;
}
.main-albumes .albumes-contenedor .album-carousel-contenedor {
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.main-albumes .albumes-contenedor .album-carousel-contenedor .carousel-item .carousel-item__fotos {
  width: 1200px;
  height: 600px;
  max-width: 100%;
}
.main-albumes .albumes-contenedor .albumes-titulo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-albumes .albumes-contenedor .albumes-titulo-contenedor .mejores-albumes-titulo {
  color: black;
  padding: 5px;
  text-align: center;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 50px;
  background-color: rgb(169, 164, 164);
  opacity: 75%;
  border-radius: 10px;
}
.main-albumes .albumes-contenedor .albumes-titulo-contenedor .mejores-albumes-titulo:hover {
  transform: scale(1.1) translateY(-10px);
  transition: all 1.2s 0s;
  border-radius: 10px;
  background-color: black;
  color: goldenrod;
}
.main-albumes .albumes-contenedor .album-thriller {
  display: flex;
}
.main-albumes .albumes-contenedor .album-thriller .mejores-albumes-portada__thriller {
  display: flex;
  width: 300px;
  height: 296px;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 25px;
  padding: 10px;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
}
.main-albumes .albumes-contenedor .album-thriller .mejores-albumes-portada__thriller:hover {
  transform: scale(1.05) translateY(-7px);
  transition: all 1s 0s;
}
.main-albumes .albumes-contenedor .album-thriller .mejores-albumes-parrafo__thriller {
  padding: 13px;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 25px;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.main-albumes .albumes-contenedor .album-bad {
  display: flex;
}
.main-albumes .albumes-contenedor .album-bad .mejores-albumes-portada__bad {
  display: flex;
  width: 300px;
  height: 303px;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 25px;
  padding: 10px;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
}
.main-albumes .albumes-contenedor .album-bad .mejores-albumes-portada__bad:hover {
  transform: scale(1.05) translateY(-7px);
  transition: all 1s 0s;
}
.main-albumes .albumes-contenedor .album-bad .mejores-albumes-parrafo__bad {
  padding: 3px;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 25px;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.main-albumes .albumes-contenedor .album-dangerous {
  display: flex;
}
.main-albumes .albumes-contenedor .album-dangerous .mejores-albumes-portada__dangerous {
  display: flex;
  width: 300px;
  height: 308px;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 25px;
  padding: 14px;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
}
.main-albumes .albumes-contenedor .album-dangerous .mejores-albumes-portada__dangerous:hover {
  transform: scale(1.05) translateY(-7px);
  transition: all 1s 0s;
}
.main-albumes .albumes-contenedor .album-dangerous .mejores-albumes-parrafo__dangerous {
  padding: 8px;
  font-size: 19.5px;
  margin-top: 30px;
  margin-left: 25px;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.main-albumes .albumes-contenedor .album-history {
  display: flex;
}
.main-albumes .albumes-contenedor .album-history .mejores-albumes-portada__history {
  display: flex;
  width: 300px;
  height: 281px;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 25px;
  padding: 10px;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
}
.main-albumes .albumes-contenedor .album-history .mejores-albumes-portada__history:hover {
  transform: scale(1.05) translateY(-8px);
  transition: all 1s 0s;
}
.main-albumes .albumes-contenedor .album-history .mejores-albumes-parrafo__history {
  padding: 12px;
  font-size: 19px;
  margin-top: 30px;
  margin-left: 25px;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.main-albumes .albumes-contenedor .album-invincible {
  display: flex;
  margin-bottom: 400px;
}
.main-albumes .albumes-contenedor .album-invincible .mejores-albumes-portada__invincible {
  display: flex;
  width: 300px;
  height: 290px;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 25px;
  padding: 10px;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
}
.main-albumes .albumes-contenedor .album-invincible .mejores-albumes-portada__invincible:hover {
  transform: scale(1.05) translateY(-7px);
  transition: all 1s 0s;
}
.main-albumes .albumes-contenedor .album-invincible .mejores-albumes-parrafo__invincible {
  padding: 10px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 25px;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 160px;
}

.main .historia-titulo-contenedor {
  padding: 10px;
  max-width: 100%;
}
.main .historia-titulo-contenedor .historia-titulo {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 100px;
  background-color: rgb(169, 164, 164);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  opacity: 75%;
  border-radius: 10px;
  padding: 10px;
}
@media screen and (max-width: 576px) {
  .main .historia-titulo-contenedor .historia-titulo {
    width: 300px;
  }
}
.main .historia-titulo-contenedor .historia-titulo:hover {
  transform: scale(1.1) translateY(-10px);
  transition: all 1.2s 0s;
  border-radius: 10px;
  background-color: black;
  color: goldenrod;
}
.main .historia-canciones {
  max-width: 100%;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones {
    display: flex;
    flex-direction: column;
  }
}
.main .historia-canciones .historia-billiejean {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-billiejean {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-billiejean {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-billiejean {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-billiejean {
    display: flex;
    align-items: flex-start;
  }
}
.main .historia-canciones .historia-billiejean .historia-canciones-parrafo__billiejean {
  padding: 5px;
  font-size: 25px;
  max-width: 100%;
  margin-top: 15px;
  margin-right: auto;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-billiejean .historia-canciones-parrafo__billiejean {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-billiejean .historia-canciones-parrafo__billiejean {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-billiejean .historia-canciones-parrafo__billiejean {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-billiejean .historia-canciones-parrafo__billiejean {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
.main .historia-canciones .historia-billiejean .historia-canciones_foto__billiejean {
  display: flex;
  padding: 10px;
  width: 345px;
  background-color: rgb(169, 164, 164);
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-billiejean .historia-canciones_foto__billiejean {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-billiejean .historia-canciones_foto__billiejean {
    width: 100%;
  }
}
.main .historia-canciones .historia-bad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-bad {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-bad {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-bad {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-bad {
    display: flex;
    align-items: flex-start;
  }
}
.main .historia-canciones .historia-bad .historia-canciones-parrafo__bad {
  padding: 7px;
  font-size: 20px;
  margin-top: 15px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-bad .historia-canciones-parrafo__bad {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-bad .historia-canciones-parrafo__bad {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-bad .historia-canciones-parrafo__bad {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-bad .historia-canciones-parrafo__bad {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
.main .historia-canciones .historia-bad .historia-canciones_foto__bad {
  display: flex;
  padding: 10px;
  width: 545px;
  background-color: rgb(169, 164, 164);
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-bad .historia-canciones_foto__bad {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-bad .historia-canciones_foto__bad {
    width: 100%;
  }
}
.main .historia-canciones .historia-smoothcriminal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-smoothcriminal {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-smoothcriminal {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-smoothcriminal {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-smoothcriminal {
    display: flex;
    align-items: flex-start;
  }
}
.main .historia-canciones .historia-smoothcriminal .historia-canciones-parrafo__smoothcriminal {
  padding: 5px;
  font-size: 22px;
  margin-top: 30px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-smoothcriminal .historia-canciones-parrafo__smoothcriminal {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-smoothcriminal .historia-canciones-parrafo__smoothcriminal {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-smoothcriminal .historia-canciones-parrafo__smoothcriminal {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-smoothcriminal .historia-canciones-parrafo__smoothcriminal {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
.main .historia-canciones .historia-smoothcriminal .historia-canciones_foto__smoothcriminal {
  display: flex;
  padding: 9px;
  width: 410px;
  margin-top: 14px;
  background-color: rgb(169, 164, 164);
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-smoothcriminal .historia-canciones_foto__smoothcriminal {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-smoothcriminal .historia-canciones_foto__smoothcriminal {
    width: 100%;
  }
}
.main .historia-canciones .historia-beatit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-beatit {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-beatit {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-beatit {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-beatit {
    display: flex;
    align-items: flex-start;
  }
}
.main .historia-canciones .historia-beatit .historia-canciones-parrafo__beatit {
  padding: 2px;
  font-size: 18px;
  margin-top: 20px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-beatit .historia-canciones-parrafo__beatit {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-beatit .historia-canciones-parrafo__beatit {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-beatit .historia-canciones-parrafo__beatit {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-beatit .historia-canciones-parrafo__beatit {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
.main .historia-canciones .historia-beatit .historia-canciones_foto__beatit {
  display: flex;
  padding: 15px;
  width: 415px;
  margin-top: 5px;
  background-color: rgb(169, 164, 164);
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-beatit .historia-canciones_foto__beatit {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-beatit .historia-canciones_foto__beatit {
    width: 100%;
  }
}
.main .historia-canciones .historia-theydontcareaboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-theydontcareaboutus {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-theydontcareaboutus {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-theydontcareaboutus {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-theydontcareaboutus {
    display: flex;
    align-items: flex-start;
  }
}
.main .historia-canciones .historia-theydontcareaboutus .historia-canciones-parrafo__theydontcareaboutus {
  padding: 10px;
  font-size: 20px;
  margin-top: 16px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-theydontcareaboutus .historia-canciones-parrafo__theydontcareaboutus {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-theydontcareaboutus .historia-canciones-parrafo__theydontcareaboutus {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-theydontcareaboutus .historia-canciones-parrafo__theydontcareaboutus {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-theydontcareaboutus .historia-canciones-parrafo__theydontcareaboutus {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
.main .historia-canciones .historia-theydontcareaboutus .historia-canciones_foto__theydontcareaboutus {
  display: flex;
  padding: 10px;
  width: 400px;
  margin-top: 0%;
  background-color: rgb(169, 164, 164);
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-theydontcareaboutus .historia-canciones_foto__theydontcareaboutus {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-theydontcareaboutus .historia-canciones_foto__theydontcareaboutus {
    width: 100%;
  }
}
.main .historia-canciones .historia-thriller {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  margin-bottom: 400px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-thriller {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-thriller {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-thriller {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-thriller {
    display: flex;
    align-items: flex-start;
  }
}
.main .historia-canciones .historia-thriller .historia-canciones-parrafo__thriller {
  padding: 10px;
  font-size: 20px;
  margin-top: 14px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 160px;
}
@media screen and (max-width: 576px) {
  .main .historia-canciones .historia-thriller .historia-canciones-parrafo__thriller {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-thriller .historia-canciones-parrafo__thriller {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-thriller .historia-canciones-parrafo__thriller {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .main .historia-canciones .historia-thriller .historia-canciones-parrafo__thriller {
    margin-top: 0;
    border-bottom-left-radius: 10px;
  }
}
.main .historia-canciones .historia-thriller .historia-canciones_foto__thriller {
  display: flex;
  padding: 10px;
  width: 430px;
  margin-top: 14px;
  background-color: rgb(169, 164, 164);
}
@media screen and (max-width: 768px) {
  .main .historia-canciones .historia-thriller .historia-canciones_foto__thriller {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .main .historia-canciones .historia-thriller .historia-canciones_foto__thriller {
    width: 100%;
  }
}

.main .contacto-menu {
  margin-top: 100px;
  max-width: 100%;
}
@media screen and (max-width: 576px) {
  .main .contacto-menu {
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main .contacto-menu {
    padding: 20px;
  }
}
@media screen and (max-width: 992px) {
  .main .contacto-menu {
    padding: 20px;
  }
}
.main .contacto-menu .contacto-titulo {
  text-align: center;
  background-color: rgb(169, 164, 164);
  opacity: 90%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 600px;
  padding: 5px;
  color: black;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main .contacto-menu .contacto-titulo:hover {
  transform: scale(1.1) translateY(-10px);
  transition: all 1.2s 0s;
  border-radius: 10px;
  background-color: white;
  filter: invert(1);
}
.main .form {
  max-width: 100%;
  margin-top: 60px;
  margin-bottom: 160px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "datos-contenedor  album-favorito-contenedor" "cancion-favorita-contenedor  dejanos-tu-opinion-contenedor";
}
.main .form .datos-contenedor {
  grid-area: datos-contenedor;
  grid-column: 2;
}
@media screen and (max-width: 576px) {
  .main .form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main .form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
@media screen and (max-width: 992px) {
  .main .form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
.main .form .datos-contenedor {
  padding: 10px;
  padding-top: 11px;
  padding-bottom: 77px;
  font-size: 20px;
  text-align: left;
  color: #0e0e0e;
  background-color: rgb(169, 164, 164);
  border-top-left-radius: 10px;
  opacity: 90%;
}
@media screen and (max-width: 576px) {
  .main .form .datos-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .main .form .datos-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
  }
}
@media screen and (max-width: 992px) {
  .main .form .datos-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
  }
}
.main .form .datos-contenedor .completa-datos {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main .form .datos-contenedor .completa-datos:hover {
  transform: scale(1.1) translateX(15px);
  transition: all 1.2s 0s;
}
.main .form .datos-contenedor .datos-usuario {
  margin-top: 10px;
}
.main .form .datos-contenedor .datos-usuario .datos-usuario__nombre {
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 15px;
}
.main .form .datos-contenedor .datos-usuario .datos-usuario__apellido {
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 15px;
}
.main .form .datos-contenedor .datos-usuario .datos-usuario__edad {
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 15px;
}
.main .form .datos-contenedor .datos-usuario .datos-usuario__email {
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 15px;
}
.main .form .album-favorito-contenedor {
  grid-area: album-favorito-contenedor;
  grid-column: 3;
}
.main .form .album-favorito-contenedor {
  padding-top: 16px;
  padding-bottom: 78px;
  font-size: 20px;
  text-align: left;
  color: #0e0e0e;
  background-color: rgb(169, 164, 164);
  border-top-right-radius: 10px;
  opacity: 90%;
}
@media screen and (max-width: 576px) {
  .main .form .album-favorito-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .main .form .album-favorito-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
  }
}
@media screen and (max-width: 992px) {
  .main .form .album-favorito-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
  }
}
@media screen and (max-width: 1400px) {
  .main .form .album-favorito-contenedor {
    margin-top: 0;
    padding-bottom: 114px;
  }
}
.main .form .album-favorito-contenedor .album-favorito-titulo {
  font-size: 29px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main .form .album-favorito-contenedor .album-favorito-titulo:hover {
  transform: scale(1.1) translateX(15px);
  transition: all 1.2s 0s;
}
.main .form .album-favorito-contenedor .album-favorito {
  margin-top: 10px;
  background-color: rgb(169, 164, 164);
  opacity: 85%;
  font-size: 25px;
  opacity: 90%;
}
.main .form .album-favorito-contenedor .album-favorito .album-favorito-opcion__nombre {
  padding: 10px;
  font-size: 10px;
  margin-top: 20px;
  margin-left: 15px;
  opacity: 90%;
}
.main .form .cancion-favorita-contenedor {
  grid-area: cancion-favorita-contenedor;
  grid-column: 2;
}
.main .form .cancion-favorita-contenedor {
  padding-top: 10px;
  padding-bottom: 49px;
  margin-bottom: 29px;
  font-size: 20px;
  text-align: left;
  color: #0e0e0e;
  background-color: rgb(169, 164, 164);
  border-bottom-left-radius: 10px;
  opacity: 90%;
}
@media screen and (max-width: 576px) {
  .main .form .cancion-favorita-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .main .form .cancion-favorita-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 992px) {
  .main .form .cancion-favorita-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 992px) {
  .main .form .cancion-favorita-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1400px) {
  .main .form .cancion-favorita-contenedor {
    margin-top: 0;
    padding-bottom: 70px;
  }
}
.main .form .cancion-favorita-contenedor .cancion-favorita-titulo {
  padding: 10px;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 0px;
  margin-bottom: 0;
  text-align: left;
  color: #0e0e0e;
}
.main .form .cancion-favorita-contenedor .cancion-favorita-titulo:hover {
  transform: scale(1.1) translateX(15px);
  transition: all 1.2s 0s;
}
.main .form .cancion-favorita-contenedor .cancion-favorita-opcion {
  opacity: 85%;
  font-size: 25px;
}
.main .form .cancion-favorita-contenedor .cancion-favorita-opcion .cancion-favorita-opcion__nombre {
  padding: 10px;
  font-size: 10px;
  margin-top: 20px;
  margin-left: 15px;
}
.main .form .dejanos-tu-opinion-contenedor {
  grid-area: dejanos-tu-opinion-contenedor;
  grid-column: 3;
}
.main .form .dejanos-tu-opinion-contenedor {
  background-color: rgb(169, 164, 164);
  border-bottom-right-radius: 10px;
  opacity: 90%;
  padding-bottom: 11px;
  margin-bottom: 29px;
}
@media screen and (max-width: 576px) {
  .main .form .dejanos-tu-opinion-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .main .form .dejanos-tu-opinion-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
    margin-top: 0;
  }
}
@media screen and (max-width: 992px) {
  .main .form .dejanos-tu-opinion-contenedor {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 500px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1400px) {
  .main .form .dejanos-tu-opinion-contenedor {
    margin-top: 0;
    padding-bottom: 70px;
  }
}
.main .form .dejanos-tu-opinion-contenedor .dejanos-tu-opinion-titulo {
  padding: 10px;
  font-size: 26px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 0px;
  margin-bottom: 0;
  text-align: left;
  color: #0e0e0e;
}
.main .form .dejanos-tu-opinion-contenedor .dejanos-tu-opinion-titulo:hover {
  transform: scale(1.1) translateX(15px);
  transition: all 1.2s 0s;
}
.main .form .dejanos-tu-opinion-contenedor .cuadrado-para-opinion {
  padding-top: 10px;
  padding: 5px;
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0;
}
@media screen and (max-width: 576px) {
  .main .form .dejanos-tu-opinion-contenedor .cuadrado-para-opinion {
    resize: none;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .main .form .dejanos-tu-opinion-contenedor .cuadrado-para-opinion {
    resize: none;
    overflow: hidden;
  }
}
@media screen and (max-width: 992px) {
  .main .form .dejanos-tu-opinion-contenedor .cuadrado-para-opinion {
    resize: none;
    overflow: hidden;
  }
}
.main .form .dejanos-tu-opinion-contenedor .cuadrado-para-opinion .cuadrado-para-opinion__escribir {
  font-size: 17px;
}
.main .form .dejanos-tu-opinion-contenedor .enviar-o-resetear {
  grid-area: enviar-o-resetear;
  grid-column: 3;
  margin-left: 15px;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-logo {
  height: 80px;
  margin-bottom: 1rem;
  border-radius: 40px;
}
footer .redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
footer .redes-sociales .redes-sociales__iconos {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  background-image: url(../img/HD-wallpaper-facebook-black-logo.jpg);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  margin: 1rem;
}
footer .redes-sociales .redes-sociales__iconos:hover {
  background-color: #121212;
  filter: invert(1);
}
footer .footer-menu {
  list-style: none;
  color: #f2f2f2;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
footer .footer-menu .footer-menu__item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
footer .footer-menu .footer-menu__item:hover {
  opacity: 1;
}
footer .footer-menu__copyright {
  color: #f2f2f2;
  opacity: 0.3;
  text-align: center;
}
footer .redes-sociales__iconos:nth-of-type(2) {
  background-image: url(../img/627b94685a3e2ac874a7573c.png);
}
footer .redes-sociales__iconos:nth-of-type(3) {
  background-image: url(../img/5b73459960abeab3bd7be40fdc2fd6c3.jpg);
}
footer .redes-sociales__iconos:nth-of-type(4) {
  background-image: url(../img/desktop-wallpaper-instagram-logo-instagram-black-and-white.jpg);
}

.scale-in-hor-right {
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}/*# sourceMappingURL=estilos.css.map */